@using MvcPaging
@using BlueHrWeb.Helpers.View


@model IPagedList<BlueHrLib.Data.ShiftSchedule>
@{
    ViewBag.Title = "排班查询";
}

@*@Styles.Render("~/Content/degreetype")*@
<ol class="breadcrumb current-position" style="margin-top:10px;">
    您的位置：
    <li>考勤管理</li>
    <li>
        <strong>排班查询</strong>
    </li>
</ol>
<hr class="hr-grey" />
@{
    bool canDelete = MenuAuthHelper.CanShow("ShiftSchedule", "Delete");
    bool canEdit = MenuAuthHelper.CanShow("ShiftSchedule", "Edit");
    bool canCreate = MenuAuthHelper.CanShow("ShiftSchedule", "Create");

    bool canImport = MenuAuthHelper.CanShow("ShiftSchedule", "Import");
}

<div class="search">
    @* 简单搜索 *@
    <form action="/ShiftSchedule/Search" method="get">
        <div class="row" style="margin:0;">
            <div class="col-lg-3 col-md-3 col-sm-5 col-xs-5">
                <div class="marco-igroup-primary">
                    <span>员工号(模糊)</span>
                    <input type="text" name="staffNr" id="StaffNr" placeholder="员工号" value="@ViewBag.Query.StaffNr" />
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-5">
                <div class="marco-igroup-primary">
                    <span>员工号(精确)</span>
                    <input type="text" name="StaffNrAct" id="StaffNrAct" placeholder="员工号" value="@ViewBag.Query.StaffNrAct" />
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-11 col-xs-11">
                <div class="marco-igroup-primary">
                    <span>排班日期</span>
                    <input type="text" name="ScheduleAtFrom" id="ScheduleAtFrom" class="datetimepicker" placeholder="开始" value="@ViewBag.Query.ScheduleAtFrom" />

                    <span style="margin-left: 5px;"> ~ </span>
                    <input type="text" name="ScheduleAtEnd" id="ScheduleAtEnd" class="datetimepicker" placeholder="结束" value="@ViewBag.Query.ScheduleAtEnd" />

                    <span class="marco-label-success" style="padding:0;">
                        <button type="submit" class="marco-btn-success" style="padding:10px; margin:0;">
                            <i class="fa fa-search"></i>
                            搜索
                        </button>
                    </span>
                </div>
            </div>

        </div>
    </form>

    @* 自定义搜索 *@
    <form action="/ShiftSchedule/AdvancedSearch" method="post">
        <div class="advanced-filter row" style="margin:0; display:none;">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="marco-igroup-primary">
                    <span>字段</span>
                    @*@Html.DropDownList("allTableName", ViewData["getAllTableNameList"] as IEnumerable<SelectListItem>)*@
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="marco-igroup-primary">
                    <span>条件</span>
                    @*@Html.DropDownList("searchConditions", ViewData["searchConditionsList"] as IEnumerable<SelectListItem>)*@
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="marco-igroup-primary">
                    <span>值1</span>
                    <input type="text" name="searchValueFirst" value="" />
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="marco-igroup-primary">
                    <span>值2</span>
                    <input type="text" name="searchValueSecond" value="" />
                    <span><button type="submit" class="marco-btn-primary" style="margin:0;background:transparent;border-color:transparent;">确定</button></span>
                </div>
            </div>

        </div>
    </form>
</div>
<hr class="hr-primary" />
<div style="margin:10px;">
    <div class="minitor-show marco-tabs-default">
        <a href="/ShiftSchedule/Create" class="pull-right" style="margin-top:-10px; margin-right:15px;">
            <button class="marco-btn-primary">
                <i class="glyphicon glyphicon-plus-sign"></i>
                <span>创建</span>
            </button>
        </a>

        @if (canImport)
        {
            <button class="marco-btn-primary import-button-dialog pull-right" title="Import" type="button" style="margin-top: -5px; margin-right:5px;">
                导入排班记录
            </button>
        }
        <ul class="nav nav-tabs" role="tablist" style="width: 400px;">
            <li role="presentation" class="active"><a href="#all_ShiftSchedule" role="tab" data-toggle="tab">所有排班管理</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane  active" id="all_ShiftSchedule">
                <div id="all_ShiftSchedule_grid_table" style="margin:auto;"></div>
                <table class="table table-bordered" style="display:none;">
                    <thead>
                        <tr>
                            <th>员工</th>
                            <th>日期</th>
                            <th>班次</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.staffNr)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.scheduleAtStr)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Shift.code)
                                    </td>
                                    <td>
                                        @if (canDelete)
                                        {
                                            <a href="/ShiftSchedule/Delete/@item.id" class="option-icon-primary" title="详情">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                        }
                                        @if (canEdit)
                                        {
                                            <a href="/ShiftSchedule/Edit/@item.id" class="option-icon-warning" title="编辑">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>

        </div>


    </div>
</div> 


<!--导入数据-->
<div id="dialog_content" class="import_content" style="display:none;">
    <div class="dialogModal_header" style="background:steelblue;color:white;">
        导入排班
    </div>
    <div class="dialogModal_content">
        <strong>选择数据文件:</strong>
        <hr />
        <input class="item-data-uploader" type="file" name="files[]" data-url="/ShiftSchedule/Import" />
        <div class="item-data-uploader-preview" style="display:none;"></div>
        <hr />
        <a href="~/Template/排班导入文件模板.xlsx" target="_blank">下载文件模板</a>
    </div>
  
</div>

<script type="text/javascript">
    Layout.init();

    $(window).resize(function () {
        Layout.TransferTableToGrid($(window).width() - 300, $(window).height() - 250, false, "all_ShiftSchedule", "所有排班管理列表", "20", "all_ShiftSchedule_grid_table");

    })

    Layout.TransferTableToGrid($(window).width() - 300, $(window).height() - 250, false, "all_ShiftSchedule", "所有排班管理列表", "20", "all_ShiftSchedule_grid_table");
    Layout.advancedfilter();

    $('.datetimepicker').datetimepicker({
        format: 'Y-m-d',
        timepicker:false
    });
    $('.import-button-dialog').click(function () {
        $('#dialog_content').dialogModal({
            onOkBut: function () {
            },
            onCancelBut: function () { },
            onLoad: function () {
                data_upload(".item-data-uploader");
            },
            onClose: function () {

            },
        });
    });
</script>