@using MvcPaging
@model IPagedList<BlueHrLib.Data.Certificate>
@{
    ViewBag.Title = "证照管理";
}

@Styles.Render("~/Content/magnific-popup")

<ol class="breadcrumb current-position" style="margin-top:10px;">
    您的位置：
    <li>基础信息</li>
    <li>证照管理管理</li>
</ol>
<hr class="hr-grey" />
<div class="row" style="margin:0;">
    <form action="/Certificate/Search" method="get">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="marco-igroup-primary">
                <span>员工编号名称</span>
                <input type="text" name="staffNr" id="staffNr" placeholder="员工编号名称" value="@ViewBag.Query.StaffNr" />
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6" style="margin-top:5px;">
            <button type="submit" class="marco-btn-success">
                <i class="glyphicon glyphicon-search"></i>
                搜索
            </button>
        </div>
    </form>
</div>
<div class="row" style="margin:0;">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <div class="marco-igroup-primary">
                <span>工号</span>
                @if (@ViewBag.StfModel != null)
                {
                    @ViewBag.StfModel.nr
                }
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <div class="marco-igroup-primary">
                <span>姓名</span>
                @if (@ViewBag.StfModel != null)
                {
                    @ViewBag.StfModel.name
                }
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <div class="marco-igroup-primary">
                <span>部门</span>
                @if (@ViewBag.StfModel != null)
                {
                    @ViewBag.StfModel.Department.name
                }
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <div class="marco-igroup-primary">
                <span>职位</span>
                @if (@ViewBag.StfModel != null)
                {
                    @ViewBag.StfModel.JobTitle.name
                }
            </div>
        </div>
    </div>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="usual-table">
        <div class="table-heading">
            证照列表
            <div class="pull-right" style="margin-top:-12px;">
                <a href="/Certificate/Create?nr=@ViewBag.StfModel.nr">
                    <button class="marco-btn-primary">
                        <i class="glyphicon glyphicon-plus-sign"></i>
                        <span>创建</span>
                    </button>
                </a>
            </div>
        </div>
        <div class="table-body content_3">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>证照类别</th>
                        <th>有效期至</th>
                        <th>有效期到</th>
                        <th>发证单位</th>
                        <th>附件</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CertificateType.name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.effectiveFrom)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.effectiveEnd)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.institution)
                                </td>
                                <td>
                                    @{
                                        List<string> imgTypes = new List<string>() { ".jpg", ".png", ".jpeg", ".bmp", ".gif" };
                                        foreach (var atch in item.Attachments)
                                        {
                                            var imgExtension = atch.name.Remove(0, atch.name.LastIndexOf("."));
                                            if (imgTypes.Contains(imgExtension))
                                            {
                                                <a class="img-popup-link" href="@atch.path">@atch.name</a>
                                            }
                                            else
                                            {
                                                <a href="/Certificate/DownFile?fileName=@atch.name&filePath=@atch.path">@atch.name</a>
                                            }
                                            <br />
                                        }
                                    }
                                </td>
                                <td>
                                    <a href="/Certificate/Delete/@item.id?nr=@ViewBag.StfModel.nr" class="option-icon-primary" title="详情">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                    <a href="/Certificate/Edit/@item.id?nr=@ViewBag.StfModel.nr" class="option-icon-warning" title="编辑">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                </td>
                            </tr>
                                            }
                                        }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:center;">
        <div class="clearfix pagination">
            <div class="pagination-inner">
                @if (Model != null)
                {
                    if (ViewBag.Query != null)
                    {

                        var html = Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
                            .Options(o => o.AddRouteValue("StaffNr", ViewBag.Query.StaffNr));
                        @html
                    }
                    else
                    {
                        @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
                    }
                }
            </div>
        </div>
    </div>
    <button id="some-button"></button>
</div>

@Scripts.Render("~/bundles/magnific-popup")

<script type="text/javascript">
    Layout.init();

    $(function ($) {
        $('.img-popup-link').magnificPopup({
            type: 'image'
            // other options
        });
    });

</script>
