@model BlueHrLib.Data.QuartzJob

@{
    ViewBag.Title = "Create";
}
 

<div id="quartzjob" style="margin:20px;">
    <ol class="breadcrumb current-position">
        您的位置：
        <li>@Html.ActionLink("创建任务", "Index")</li>
    </ol>

    <hr class="hr-grey" />

    @using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "Post", OnSuccess = "Success" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        if (Model != null)
        {
            @Html.HiddenFor(model => model.id)
        }

        <div class="marco-npanel-primary">
            <div class="marco-nheading">
               
                <div class="pull-right">
                    <button type="submit" class="marco-btn-primary" style="margin-top:-10px; padding: 0 10px;">
                        <i class="fa fa-check-circle-o"></i>
                        <span>保存</span>
                    </button>
                </div>
            </div>

            <div class="marco-nbody row">

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="marco-igroup-danger">
                        <span>班次*</span>
                        @Html.DropDownList("params", ViewData["shiftList"] as IEnumerable<SelectListItem>)
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="marco-igroup-danger">
                        <span>执行时间*</span>
                        @Html.EditorFor(model => model.cronSchedule, new { htmlAttributes = new { @class = "date-picker" } })
                    </div>
                </div>

            </div>

        </div>

    }
</div>

<script type="text/javascript">
    Layout.init();

    //控制textarea高度
    $('textarea').css({ height: ($(window).height() - 400) / 2 + 'px' });
    $(window).resize(function () {
        $('textarea').css({ height: ($(window).height() - 400) / 2 + 'px' });
    });

    Layout.datepicker('.date-picker');

</script>
