@using MvcPaging
@model IPagedList<BlueHrLib.Data.SysAuthorization>
@{
    ViewBag.Title = "权限列表";
}
@*@Styles.Render("~/Content/degreetype")*@
<ol class="breadcrumb current-position" style="margin-top:10px;">
    您的位置：
    <li>权限管理</li>
    <li>权限列表</li>
</ol>
<hr class="hr-grey" />
<div class="search">
    <form action="/SysAuthorization/Search" method="get">
        <div class="row" style="margin:0;">
            <div class="col-lg-3 col-md-3 col-sm-6 ol-xs-12">
                <div class="marco-igroup-primary">
                    <span>模块</span>
                    <input type="text" name="funCode" id="funCode" placeholder="模块" value="@ViewBag.Query.funCode" />
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 ol-xs-12">
                <div class="marco-igroup-primary">
                    <span>控制器</span>
                    <input type="text" name="controlName" id="controlName" placeholder="控制器" value="@ViewBag.Query.controlName" />
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 ol-xs-12">
                <div class="marco-igroup-primary">
                    <span>动作</span>
                    <input type="text" name="actionName" id="actionName" placeholder="动作" value="@ViewBag.Query.actionName" />
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="margin-top: 5px;">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                    <button type="submit" class="marco-btn-success pull-left">
                        <i class="fa fa-search"></i>
                        <span>搜索</span>
                    </button>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                    <button type="button" class="marco-btn-primary advanced-filter-btn" title="自定义搜索">
                        <i class="fa fa-filter"></i>
                        <span>自定义搜索</span>
                    </button>
                </div>
            </div>
        </div>
</form>

    <form action="/SysAuthorization/AdvancedSearch" method="post">
        <div class="advanced-filter row" style="margin:0;display:none;">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="marco-igroup-primary">
                    <span>字段</span>
                    @*@Html.DropDownList("allTableName", ViewData["getAllTableNameList"] as IEnumerable<SelectListItem>)*@
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="marco-igroup-primary">
                    <span>条件</span>
                    @*@Html.DropDownList("searchConditions", ViewData["searchConditionsList"] as IEnumerable<SelectListItem>)*@
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="marco-igroup-primary">
                    <span>值1</span>
                    <input type="text" name="searchValueFirst" value="" />
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="marco-igroup-primary">
                    <span>值2</span>
                    <input type="text" name="searchValueSecond" value="" />
                    <span><button type="submit" class="marco-btn-primary" style="margin:0;background:transparent;border-color:transparent;">确定</button></span>
                </div>
            </div>
        </div>
    </form>
</div>

<hr class="hr-primary" />

<div style="margin:10px;">
    <div class="minitor-show marco-tabs-default">

        <a href="/SysAuthorization/Create" class="pull-right" style="margin-top: -10px; margin-right:15px;">
            <button class="marco-btn-primary">
                <i class="glyphicon glyphicon-plus-sign"></i>
                <span>创建</span>
            </button>
        </a>
        <ul class="nav nav-tabs" role="tablist" style="width: 400px;">

            <li role="presentation" class="active"><a href="#all_SysAuthorization" role="tab" data-toggle="tab">所有权限</a></li>
           

        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane  active" id="all_SysAuthorization">
                <div id="all_SysAuthorization_grid_table" style="margin:auto;"></div>
                <table class="table table-bordered" style="display:none;">
                    <thead>
                        <tr>
                            <th>模块</th>
                            <th>控制器</th>
                            <th>动作</th>
                            <th>名称</th>
                            <th>备注</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.funCode)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.controlName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.actionName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.remarks)
                                    </td>
                                    <td>
                                        <a href="/SysAuthorization/Delete/@item.id" target="_blank" class="option-icon-primary" title="详情">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                        <a href="/SysAuthorization/Edit/@item.id" target="_blank" class="option-icon-warning" title="编辑">
                                            <i class="fa fa-pencil"></i>
                                        </a>

                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
</div>

 

<script type="text/javascript">
    Layout.init();

    $(window).resize(function () {
        Layout.TransferTableToGrid($(window).width() - 300, $(window).height() - 250, false, "all_SysAuthorization", "所有权限列表", "20", "all_SysAuthorization_grid_table");
        
    })

    Layout.TransferTableToGrid($(window).width() - 300, $(window).height() - 250, false, "all_SysAuthorization", "所有权限列表", "20", "all_SysAuthorization_grid_table");

   
    Layout.advancedfilter();
 
</script>