@using MvcPaging
@using BlueHrWeb.Helpers.View
@model IPagedList<BlueHrLib.Data.WorkAndRest>

@{
    ViewBag.Title = "作息时间";
}
@{
    bool canMake = MenuAuthHelper.CanShow("WorkAndRest", "Make");
    bool canEdit = MenuAuthHelper.CanShow("WorkAndRest", "Edit");
    bool canImport = MenuAuthHelper.CanShow("WorkAndRest", "Import");
    bool canTableShow = MenuAuthHelper.CanShow("WorkAndRest", "TableShow");
}

<style type="text/css">
    .fc-row .fc-content-skeleton tbody td, .fc-row .fc-helper-skeleton tbody td{
        height: 50px; 
        line-height: 50px;
        text-align: center;
    }

    .fc-event[href], .fc-event.fc-draggable{
        border-left: 1px solid white;
    }
</style>

<ol class="breadcrumb current-position" style="margin-top:10px;">
    您的位置：
    <li>考勤管理</li>
    <li>
        <strong>作息时间</strong>
    </li>
</ol>

<div class="pull-right" style="margin-top: -25px; margin-right: 20px;">
    @if (canMake)
    {
    <button id="set-years" type="button" class="marco-btn-danger" title="生成2017年作息表" style="margin-left: 10px;">
        <span> 生成2017作息表 </span>
    </button>
    }
    @if (canTableShow)
    {
    <a href="/WorkAndRests/TableShow">
        <button type="button" class="marco-btn-primary">
            查看列表展示
        </button>
    </a>
    }
</div>

<hr class="hr-grey" />

<div class="search">
    <form action="/WorkAndRests/Search" method="get">
        <div class="row" style="margin:0;">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="marco-igroup-primary">
                    <span>日期</span>
                    <input type="text" class="date_picker" name="DateAtFrom" id="DateAtFrom" placeholder="起始日期" value="@ViewBag.Query.DateAtFrom" />
                    <span>~</span>
                    <input type="text" class="date_picker" name="DateAtTo" id="DateAtTo" placeholder="终止日期" value="@ViewBag.Query.DateAtTo" />
                </div>
            </div>

             <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="marco-igroup-primary">
                    <span>类型</span>
                    @Html.DropDownList("DateType", ViewData["workAndRestTypeList"] as IEnumerable<SelectListItem>)
                </div>
            </div> 

            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" style="margin-top:5px;">
                <button type="submit" class="marco-btn-success">
                    <i class="glyphicon glyphicon-search"></i>
                    搜索
                </button>
                @if (canImport)
                {
                <button type="button" class="marco-btn-primary import-button-dialog pull-right">
                    <i class="glyphicon glyphicon-cloud-upload"></i>
                    <span>导入</span>
                </button>
                }
            </div>
        </div>
    </form>
</div>

<div id="workAndRest_calendar" style="padding: 20px;"></div>

<div id="dialog_content" class="import_content" style="display:none;">
    <div class="dialogModal_header" style="background:steelblue;color:white;">
        导入作息表记录
    </div>
    <div class="dialogModal_content">
        <strong>选择数据文件:</strong>
        <hr />
        <input class="item-data-uploader" type="file" name="files[]" data-url="/WorkAndRests/Import" />
        <div class="item-data-uploader-preview" style="display:none;"></div>
        <hr />
        <a href="~/Template/作息表模板.xlsx" target="_blank">下载作息表模板</a>
    </div>
</div>

<!--编辑当天内容-->
<div id="EditWorkAndRestScheduleModal" class="approval_content" style="display:none;">
    <div class="dialogModal_header" style="background:steelblue; color:white;">
        <span>作息表编辑</span>
    </div>

    <div class="dialogModal_content">
        <div class="marco-nbody row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <span id="currentDateAt"></span> 
                <span id="currentDateType" style="margin-left: 10px;"></span>
                <span id="currentRemark" style="margin-left: 10px;"></span>
            </div>

            <hr class="hr-primary" />

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <span style="color: steelblue;">编辑</span>

                <div class="marco-igroup-primary">
                    <span>作息类型</span>
                    @Html.DropDownList("dateTypeId", ViewData["workAndRestTypeList"] as IEnumerable<SelectListItem>)
                </div>
                <br />

                <div class="marco-textarea">
                    <span>备注</span>
                    <textarea name="Remark" id="Remark"></textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="dialogModal_footer">
        @if (canEdit)
        {
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row">
            <button type="button" class="marco-btn-primary pull-right" data-dialogmodalbut="ok">
                修改
            </button>
        </div>
        }
    </div>
</div>

@Scripts.Render("~/bundles/fullcalendar")
<script type="text/javascript">
    Layout.init();
    Layout.datepicker('.date_picker'); 

    var TableWidth = $(window).width() - 250;
    if($.cookie('left_sidebar')=="true"){
        TableWidth = $(window).width() - 80;
    }

    //显示日历
    $("#workAndRest_calendar").css({"height":$(window).height()-300+'px', "width": TableWidth+'px'});

    var DefaultDate = new Date();

    if($.cookie('changed_calendar')!=undefined){
        DefaultDate = $.cookie('changed_calendar');
    }

    $.ajax({
        url:'/WorkAndRests/GetWorkAndRest',
        type:'get',
        data:{
            dateAtFrom: $("#DateAtFrom").val(),
            dateAtTo: $("#DateAtTo").val(),
            dateTypeId: $("#DateType").val()
        },
        success:function(data){
            $('#workAndRest_calendar').fullCalendar({
                header: {
                    left: 'prev, next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay,listDay,listWeek,listMonth'
                },
                views: {
                    listDay: { buttonText: '天列表' },
                    listWeek: { buttonText: '周列表' },
                    listMonth: { buttonText: '月列表' }
                },
                // weekends:false,
                defaultDate: DefaultDate,
                firstDay: 1,
                locale: 'zh-cn',
                editable: false,
                timeFormat: 'H:mm',
                axisFormat: 'H:mm',
                weekNumbers: true,
                weekNumbersWithinDays: true,
                selectable: true,
                selectHelper: true,
                select: function(start, end) {
                    $('#workAndRest_calendar').fullCalendar('unselect');
                },
                dayClick: function(date, allDay, jsEvent, view){
                    // console.log(view);
                },
                eventClick: function(event, jsEvent, view) {
                    // 弹出框  修改  作息表模板
                    var ID = event.id;
                    var DateAt = event.dateAt;
                    var DateType = event.dateType;
                    var DateTypeId = event.datgeTypeId;
                    var Remark = event.remark;
                    var titlte = event.title;

                    $.cookie('changed_calendar', DateAt , { expires: 7, path: '/' });

                    $('#EditWorkAndRestScheduleModal').dialogModal({
                        onOkBut: function () {
                            var NewDateTypeId = $(".dialogModal").find("#dateTypeId").val();
                            var NewRemark = $(".dialogModal").find("#Remark").val();
                            if(NewDateTypeId == ""){
                                Layout.popModal('popModal-danger', "类型不能为空");
                                return false;
                            }

                            $.ajax({
                                url:'/WorkAndRests/EditWorkAndRest',
                                type:'post',
                                data:{
                                    id: ID,
                                    dateTypeId: NewDateTypeId,
                                    remark: NewRemark
                                },
                                success:function(data){
                                    if(data){
                                        window.location.reload();
                                        // $.cookie('changed_calendar', DateAt, { expires: 7, path: '/' });
                                    }else{
                                        Layout.popMsg("popMsg-danger", "出现错误");
                                    }
                                },
                                error:function(){
                                    // console.log("Something Error!");
                                }
                            })
                        },
                        onCancelBut: function () { 
                        },
                        onLoad: function () {
                            $(".dialogModal").find("#currentDateAt").html("日期："+ new Date(DateAt).Format("yyyy-MM-dd") );
                            $(".dialogModal").find("#currentDateType").html("类型："+DateType);
                            $(".dialogModal").find("#currentRemark").html("备注："+Remark);
                            $(".dialogModal").find("#Remark").html(Remark);
                        },
                        onClose: function () {
                        }
                    });
                },
                eventMouseover: function(event, jsEvent, View){
                    // console.log(event);
                },
                events: data
            });
        },
        error:function (){
            // console.log("Something Error!");
        }
    });

    $("#set-years").click(function(){
        Layout.popMsg("popMsg-primary", "正在生成作息表");
        $.ajax({
            url:'/WorkAndRests/SetWorkAndRestDay',
            type:'post',
            data:{
                beginDay: '2017-1-1',
                endDay: '2017-12-31'
            },
            success:function(data){
                if(data){
                    Layout.popMsg("popMsg-success", "作息表生成成功");
                    window.location.reload();
                }else{
                    Layout.popMsg("popMsg-danger", "作息表已经生成");
                }
            },
            error: function(){
                // console.log("VVVDDDDDDDD");
            }
        })
    })

    //导入弹出框
    $('.import-button-dialog').click(function () {
        $('#dialog_content').dialogModal({
            onOkBut: function () {
            },
            onCancelBut: function () { },
            onLoad: function () {
                data_upload(".item-data-uploader");
            },
            onClose: function () {
                window.location.reload();
            }
        });
    });
</script>