@using MvcPaging

@model IPagedList<BlueHrLib.Data.JobTitle>

@{
    ViewBag.Title = "职位信息";
}

@*@Styles.Render("~/Content/degreetype")*@
<style>
    .tabs {
        width:100%;
        height:20px;      
        border-bottom:1px solid #808080;
    } 
        .tabs ul{
            width:330px;
            height:20px;
            margin-top:10px;
            margin-bottom:10px;
        }
        .tabs .navs li {
            width:80px;
            height:20px;
            font-size:16px;
            color:#000000;
            font-weight:bold;
            line-height:10px;
            float:left;
            list-style:none; 
            margin-right:10px;
            padding-left:8px;      
        }
            .tabs .navs li.actived {
                border-bottom:3px solid #ff0000;
            }
            .tabs ul.tabs-content li {
                display:none;
            }
                .tabs ul.tabs-content li.actived {
                    display:block;
                }
         
</style>
<ol class="breadcrumb current-position" style="margin-top:10px;">
    您的位置：
    <li>基础信息</li>
    <li>职位信息</li>
</ol>

<hr class="hr-grey" />

<div class="row" style="margin:0;">
    <form action="/JobTitle/Search" method="get">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="marco-igroup-primary">
                <span>职位名称</span>
                <input type="text" name="Name" id="Name" placeholder="职位名称" value="@ViewBag.Query.Name" />
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6" style="margin-top:5px;">
            <button type="submit" class="marco-btn-success">
                <i class="glyphicon glyphicon-search"></i>
                搜索
            </button>
        </div>
    </form>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="usual-table">
        <div class="table-heading">
            职位列表
            <div class="pull-right" style="margin-top:-12px;">
                <a href="/JobTitle/Create">
                    <button class="marco-btn-primary">
                        <i class="glyphicon glyphicon-plus-sign"></i>
                        <span>创建</span>
                    </button>
                </a>
            </div>
        </div>
        <div class="tabs">
            <ul class="navs">
                <li class="actived li">当前职位</li>
                <li class="li" >历史职位</li>
                <li class="li" >所有职位</li>
            </ul>
            <div class="actived">
                <div class="table-body content_3">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>职位名称</th>
                                <th>必须证照</th>
                                <th>备注</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.name)
                                        </td>
                                        <td>
                                            <span>@item.CertificateTypeStr</span>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.remark)
                                        </td>
                                        <td>
                                            <a href="/JobTitle/Delete/@item.id" target="_blank" class="option-icon-primary" title="详情">
                                                <i class="fa fa-eye"></i>
                                            </a>

                                            <a href="/JobTitle/Edit/@item.id" target="_blank" class="option-icon-warning" title="编辑">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>

            </div>
                    
                <div>222</div>
                <div>333</div>
            </ul>
        </div>
        
        
    @*<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:center;">
        <div class="clearfix pagination">
            <div class="pagination-inner">
                @if (Model != null)
                {
                    if (ViewBag.Query != null)
                    {

                        var html = Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
                            .Options(o => o.AddRouteValue("Name", ViewBag.Query.Name));
                        @html
                    }
                    else
                    {
                        @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
                    }
                }
            </div>
        </div>
    </div>*@


@*@Scripts.Render("~/bundles/degreetype")*@

<script type="text/javascript">
    Layout.init();
            var $UL_li = $(".tabs .navs li");
            $UL_li.click(function(){
                $(this).addClass('actived').siblings().removeClass('actived');
                var index = $(this).index();
                $(".tabs .tabs-content li").eq(index).addClass('actived').siblings().removeClass('actived');
            });
</script>