

@model BlueHrLib.Data.Staff

<div id="staff" style="margin:10px;">
    <ol class="breadcrumb current-position">
        您的位置：
        <li>用户管理</li>
        <li>@Html.ActionLink("员工管理", "Index")</li>
        <li>{{action}}</li>
    </ol>

    <hr class="hr-grey" />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="marco-npanel-normal">
            <div class="marco-nheading">
                <span>基础信息</span>
            </div>

            <div class="marco-nbody row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="marco-igroup-danger">
                        <span>工号 *</span>
                        @Html.EditorFor(model => model.nr)
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="marco-igroup-danger">
                        <span>姓名 *</span>
                        @Html.EditorFor(model => model.name)
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="marco-igroup-primary">
                        <span>性别</span>
                        @*@Html.EditorFor(model => model.sex)*@
                        @Html.DropDownList("Sex", ViewData["sexList"] as IEnumerable<SelectListItem>)
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="marco-igroup-primary">
                        <span>身份证号</span>
                        @Html.EditorFor(model => model.id)
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="marco-igroup-primary">
                        <span>出生日期</span>
                        @Html.EditorFor(model => model.birthday, new { htmlAttributes = new { @class = "date-picker" } })
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="marco-igroup-primary">
                        <span>民族</span>
                        @Html.EditorFor(model => model.ethnic)
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="marco-igroup-primary">
                        <span>联系电话</span>
                        @Html.EditorFor(model => model.phone)
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="marco-igroup-primary">
                        <span>户口地址</span>
                        @Html.EditorFor(model => model.residenceAddress)
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="marco-igroup-primary">
                        <span>通讯地址</span>
                        @Html.EditorFor(model => model.address)
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="marco-igroup-primary">
                        <span>户籍</span>
                        @Html.EditorFor(model => model.domicile)
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="marco-igroup-danger">
                        <span>户口性质 *</span>

                        @Html.DropDownList("residenceType", ViewData["residenceTypeList"] as IEnumerable<SelectListItem>)
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="marco-igroup-primary">
                        <span>人员类别</span>
                        @Html.DropDownList("StaffTypeId", ViewData["staffTypeList"] as IEnumerable<SelectListItem>)
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="marco-igroup-primary">
                        <span>最高学历</span>
                        @Html.DropDownList("DegreeTypeId", ViewData["degreeTypeList"] as IEnumerable<SelectListItem>)
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="marco-igroup-primary">
                        <span>所学专业</span>
                        @Html.EditorFor(model => model.speciality)
                    </div>
                </div>
            </div>
        </div>

        <div class="marco-npanel-normal">
            <div class="marco-nheading">
                <span>照片</span>
            </div>

            <div class="marco-nbody row">
                <div class="marco-igroup-primary">
                    <span>选择照片上传</span>
                    <input type="file" name="photoUpload"  id="photoUpload" />
                    <input type="hidden" name="photo" id="photo" value="" />
                </div>
            </div>
        </div>

        <div class="marco-npanel-normal">
            <div class="marco-nheading">
                <span>紧急联系人</span>
            </div>

            <div class="marco-nbody row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="marco-igroup-primary">
                        <span>姓名</span>
                        @Html.EditorFor(model => model.contactName)
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="marco-igroup-primary">
                        <span>电话</span>
                        @Html.EditorFor(model => model.contactPhone)
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="marco-igroup-primary">
                        <span>与员工关系</span>
                        @Html.EditorFor(model => model.contactFamilyMemberType)
                    </div>
                </div>
            </div>
        </div>

        <div class="marco-npanel-normal">
            <div class="marco-nheading">
                <span>工作经历</span>
            </div>

            <div class="marco-nbody row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="marco-igroup-primary">
                        <span>最初进厂日期</span>
                        @Html.EditorFor(model => model.firstCompanyEmployAt, new { htmlAttributes = new { @class = "date-start-picker" } })
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="marco-igroup-primary">
                        <span>进厂日期</span>
                        @Html.EditorFor(model => model.companyEmployAt, new { htmlAttributes = new { @class = "date-end-picker" } })
                    </div>
                </div>
            </div>
        </div>

        <div class="marco-npanel-normal">
            <div class="marco-nheading">
                <span>职位信息</span>
            </div>

            <div class="marco-nbody row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="marco-igroup-danger">
                        <span>公司 *</span>
                        @Html.DropDownList("companyId", ViewData["companyList"] as IEnumerable<SelectListItem>)
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="marco-igroup-danger">
                        <span>部门 *</span>
                        @Html.DropDownList("departmentId", ViewData["departmentList"] as IEnumerable<SelectListItem>)
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="marco-igroup-danger">
                        <span>职位 *</span>
                        @Html.DropDownList("jobTitleId", ViewData["jobTitleList"] as IEnumerable<SelectListItem>)
                    </div>
                </div>

                @*//TODO: 什么字段*@

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:70px;">
                    <div class="marco-textarea">
                        <span>备注信息</span>
                        <textarea name="remark"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="marco-npanel-normal">
            <div class="marco-nheading">
                <span>合同信息</span>
            </div>

            <div class="marco-nbody row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="height: 40px;">
                    <div class="marco-igroup-primary">
                        <span>是否在试用</span>
                        @Html.DropDownList("isOnTrial", ViewData["isOnTrialList"] as IEnumerable<SelectListItem>)
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="marco-igroup-primary">
                        <span>试用到期日期</span>
                        @Html.EditorFor(model => model.trialOverAt, new { htmlAttributes = new { @class = "date-picker" } })
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="marco-igroup-primary">
                        <span>保险种类</span>

                        @Html.DropDownList("insureTypeId", ViewData["inSureTypeList"] as IEnumerable<SelectListItem>)
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="marco-igroup-primary">
                        <span>是否交公积金</span>

                        @Html.DropDownList("isPayCPF", ViewData["isPayCPFList"] as IEnumerable<SelectListItem>)
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="marco-igroup-primary">
                        <span>合同到期日期</span>
                        @Html.EditorFor(model => model.contractExpireAt, new { htmlAttributes = new { @class = "date-picker" } })
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="marco-igroup-primary">
                        <span>合同签订次数</span>
                        @Html.EditorFor(model => model.contractCount)
                    </div>
                </div>

                @*//TODO: 什么字段*@

                @*<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:80px;">
                        <div class="marco-textarea">
                            <span>合同备注</span>
                            <textarea name="remark"></textarea>
                        </div>
                    </div>*@
            </div>
        </div>

        <div class="marco-npanel-normal">
            <div class="marco-nheading">
                <span>银行卡信息</span>
            </div>

            <div class="marco-nbody row">
            </div>
        </div>

        <div class="marco-npanel-normal">
            <div class="marco-nheading">
                <span>子女信息</span>
            </div>

            <div class="marco-nbody row">
            </div>
        </div>

        <button class="marco-btn-primary" type="submit">
            创建
        </button>
    }
</div>

<script type="text/javascript">
    Layout.init();
    Layout.rangedatepicker('.date-start-picker', '.date-end-picker');
    Layout.datepicker('.date-picker');

    $('#staff').css({ height: $(window).height() - 50 + 'px' });
    $("#staff").mCustomScrollbar({
        scrollInertia: 600,
        autoDraggerLength: false,
        scrollButtons: {
            enable: true
        },
        advanced: { autoScrollOnFocus: false }
    });

    var Department = new Array();

    $.ajax({
        url: '/Staff/GetCompanyAndDepartment',
        type: 'get',
        async: false,
        success: function (data) {
            Department = data;
        },
        error: function () {
            console.log("Error");
        }
    });

    $('#companyId').change(function () {
        $('#departmentId').empty();

        var companyID = $('#companyId').find("option:selected").val();
        var Html = "";

        for (dep in Department[companyID]) {
            Html += '<option value=' + dep + '>' + Department[companyID][dep] + '</option>';
        }

        $(Html).appendTo('#departmentId');
    })

    function readFile(file) {
        //if (!/image\/\w+/.test(file.type)) {
        //    alert("请确保文件为图像类型");
        //    return false;
        //}
        var reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = function (e) {
            result.innerHTML = '<img src="' + this.result + '" alt=""/>';
            img_area.innerHTML = '<div class="sitetip">图片img标签展示：</div><img src="' + this.result + '" alt=""/>';
        }
    }

    $('#photoUpload').change(function () {

        readFile($(this).val());
    })
</script>

<textarea name="result" id="result" cols="30" rows="300"></textarea>
<p id="img_area"></p>