@model BlueHrLib.Data.Staff

@{
    ViewBag.Title = "Delete";
}
<div>
    @{
        var toFullTitle = Model.CanTobeFullMember ? "可转正" : "已转正";
        var toFullUrl = Model.CanTobeFullMember ? "/Staff/ToFullMemeber?nr=" + Model.nr : "#";
    }

    <div style="position:fixed; bottom:0; right:80px;z-index:99999;">
        <a href="#" title="离 职">
            <button class="marco-btn-warning pull-right">
                <i class="glyphicon glyphicon-random"></i>
                <span>离 职</span>
            </button>
        </a>

        <a href="@tofullurl" title="@tofulltitle">
            <button class="marco-btn-success pull-right">
                <i class="glyphicon glyphicon-repeat"></i>
                <span>转正</span>
            </button>
        </a>

        <button class="marco-btn-primary pull-right change-job">
            <i class="glyphicon glyphicon-refresh"></i>
            <span>调 岗</span>
        </button>
    </div>
</div>

<div id="change_job_content" style="display:none; width: 50%; position:fixed; top: 30%; left: 25%;z-index: 999999;">
    <div class="marco-npanel-primary">
        <div class="marco-nheading">
            调岗
            <i class="fa fa-close pull-right close-change-job"></i>
        </div>

        <div class="marco-nbody" style="background: #f2f2f2;">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="marco-igroup-primary">
                        <span>公司</span>
                        @Html.DropDownList("companyId", ViewData["companyList"] as IEnumerable<SelectListItem>)
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="marco-igroup-primary">
                        <span>部门</span>
                        @Html.DropDownList("departmentId", ViewData["departmentList"] as IEnumerable<SelectListItem>)
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="marco-igroup-primary">
                        <span>职位</span>
                        @Html.DropDownList("JobTitleId", ViewData["jobTitleList"] as IEnumerable<SelectListItem>)
                    </div>
                </div>
            </div>

            <hr class="hr-grey" />
            <div class="row" style="margin:0;">
                <span class="pull-left error-msg" style="color:red;margin-left:10px;"></span>
                <button type="button" class="marco-btn-primary pull-right change-job-btn">确定</button>
            </div>
        </div>
    </div>
</div>

<div id="fullpage-overlay"></div>

@Html.Partial("_PartialStaff")

<script type="text/javascript">
    Staff.other_image_preview('#photoName', '#photo', '#photopreview');

    $('.change-job').click(function () {
        //调岗
        $('#change_job_content select').removeAttr('disabled');
        $('#fullpage-overlay').css({ display: 'block' });
        $('#change_job_content').show();

        $('.close-change-job').click(function () {
            $('#change_job_content').css({ display: 'none' });
            $('#fullpage-overlay').css({ display: 'none' });
        });

        $('.change-job-btn').click(function () {
            var Dialog = $(this).parent().parent();

            var CompanyID = Dialog.find('#companyId').val();
            var DepartmentID = Dialog.find('#departmentId').val();
            var JobTitleID = Dialog.find('#JobTitleId').val();

            var StaffNr = $('#nr').val();
            
            if (Layout.IsStringNull(StaffNr)) {
                $('.error-msg').html("员工号找不到");
                return false;
            }

            //这三个是否要进行 空值 判断？
            // 调岗必须填写岗位信息
            if (Layout.IsStringNull(CompanyID)) {
                $('.error-msg').html("公司不能为空");
                return false;
            }

            if (Layout.IsStringNull(DepartmentID)) {
                $('.error-msg').html("部门不能为空");
                return false;
            }

            if (Layout.IsStringNull(JobTitleID)) {
                $('.error-msg').html("职位不能为空");
                return false;
            }

            //发送ajax请求
            var Jobs = [StaffNr, CompanyID, DepartmentID, JobTitleID];

            $.ajax({
                url: '/Staff/changeJob',
                type: 'post',
                data: {
                    changeJob: Jobs
                },
                success: function (data) {
                    console.log(data);
                    if (data.Success) {
                        Layout.popMsg('popModal-success', data.Content);
                        window.location.reload();
                    } else {
                        Layout.popMsg('popModal-danger', data.Content);
                    }
                },
                error: function () {
                    console.log("Something Error!");
                    Layout.popMsg('.popModal-danger', "Ajax 请求失败！");
                }
            });

        });
    });

    //使之不可编辑
    $('input').attr('disabled', 'disabled');
    $('select').attr('disabled', 'disabled');
    $('textarea').attr('disabled', 'disabled');
    $('button[type="submit"]').removeClass('marco-btn-primary');
    $('button[type="submit"]').addClass('marco-btn-danger');
    $('.remove-card').attr('disabled', 'disabled');
    $('.remove-family').attr('disabled', 'disabled');

    $('.createBankCardBtn').attr('disabled', 'disabled');
    $('.createFamilyBtn').attr('disabled', 'disabled');
</script>