@using MvcPaging

@model IPagedList<BlueHrLib.Data.Staff>
@using BlueHrWeb.Helpers.View


@{
    ViewBag.Title = "Index";
}

<ol class="breadcrumb current-position" style="margin-top:10px;">
    您的位置：
    <li>用户管理</li>
    <li>员工管理</li>
</ol>

<hr class="hr-grey" />
@{ 
    bool canImport = MenuAuthHelper.CanShow("Staff", "Import");
    bool canCreate = MenuAuthHelper.CanShow("Staff", "Create");
    bool canEdit  = MenuAuthHelper.CanShow("Staff", "Edit");
    bool canShow= MenuAuthHelper.CanShow("Staff", "Show");

}
@*Search*@
<div class="search">
    <form action="/Staff/Search" method="get">
        <div class="row" style="margin:0;">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="marco-igroup-primary">
                    <span>身份证</span>
                    <input type="text" name="Id" id="Id" value="@ViewBag.Query.Id" placeholder="身份证号码" />
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="marco-igroup-primary">
                    <span>员工号</span>
                    <input type="text" name="Nr" id="Nr" value="@ViewBag.Query.Nr" placeholder="员工号" />
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="marco-igroup-primary">
                    <span>姓名</span>
                    <input type="text" name="Name" id="Name" value="@ViewBag.Query.Name" placeholder="姓名" />
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="marco-bgroup">
                    <button type="submit" class="marco-btn-success pull-left">
                        <i class="fa fa-search"></i>
                        <span>搜索</span>
                    </button>

                    <button type="button" class="marco-btn-primary advanced-filter-btn" title="高级搜索">
                        <i class="fa fa-filter"></i>
                        <span>高级搜索</span>
                    </button>
                    @if (canImport)
                    {
                    <button type="button" class="marco-btn-primary import-dialog-btn pull-right">
                        <i class="fa fa-cloud-upload"></i>
                        <span>上传</span>
                    </button>
                    }
                </div>
            </div>
        </div>

        <div class="advanced-filter row" style="margin:0;display:none;">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="marco-igroup-primary">
                    <span>性别</span>
                    @Html.DropDownList("Sex", ViewData["sexList"] as IEnumerable<SelectListItem>)
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="marco-igroup-primary">
                    <span>公司</span>
                    @Html.DropDownList("companyId", ViewData["companyList"] as IEnumerable<SelectListItem>)
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="marco-igroup-primary">
                    <span>部门</span>
                    @Html.DropDownList("departmentId", ViewData["departmentList"] as IEnumerable<SelectListItem>)
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="marco-igroup-primary">
                    <span>职位</span>
                    @Html.DropDownList("JobTitleId", ViewData["jobTitleList"] as IEnumerable<SelectListItem>)
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="marco-igroup-primary">
                    <span>进厂日期从</span>
                    <input type="text" class="date_picker_start" name="CompanyEmployAtFrom" id="CompanyEmployAtFrom" value="@ViewBag.Query.CompanyEmployAtFrom" placeholder="进厂日期" />
                    <span>到</span>
                    <input type="text" class="date_picker_end" name="CompanyEmployAtTo" id="CompanyEmployAtTo" value="@ViewBag.Query.CompanyEmployAtTo" placeholder="进厂日期" />
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="marco-igroup-primary">
                    <span>是否为试用期</span>

                    @Html.DropDownList("IsOnTrial", ViewData["isOnTrialList"] as IEnumerable<SelectListItem>)
                </div>
            </div>
        </div>
    </form>
</div>

@*list show*@
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="usual-table">
        <div class="table-heading">
            员工列表
            <div class="pull-right" style="margin-top:-12px;">
                @if (canCreate)
                {
                <a href="/Staff/Create">
                    <button class="marco-btn-primary">
                        <i class="glyphicon glyphicon-plus-sign"></i>
                        <span>创建</span>
                    </button>
                </a>
                 }
            </div>
        </div>
        <div class="table-body content_3">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>工号</th>
                        <th>身份证</th>
                        <th>姓名</th>
                        <th>性别</th>
                        <th>公司</th>
                        <th>部门</th>
                        <th>职位</th>
                        <th>是否备齐证照</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
            {
                foreach (var item in Model)
                {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.nr)
                                </td>
                                <td>
                                    <span style="display:inline;">
                                        @Html.DisplayFor(modelItem => item.id)
                                    </span>

                                    @if (item.isIdChecked)
                                    {
                                        <span class="pull-right marco-label-success" title="身份证已经通过验证" style="cursor:help;">
                                            已验证
                                        </span>
                                    }
                                    else
                                    {
                                        <span class="pull-right marco-label-danger" title="身份证还未验证, 请使用客户端进行验证" style="cursor:help;">
                                            未验证
                                        </span>
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.sexDisplay)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Company.name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Department.name)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.JobTitle.name)
                                </td>

                                <td>
                                    @if (item.IsHasAllCertificate)
                                    {
                                        <span class="marco-label-success" title="证照信息已经备齐" style="cursor:help;">已备齐</span>
                                    }
                                    else
                                    {
                                        <span class="marco-label-danger" title="证照信息尚未备齐" style="cursor:help;">尚未备齐</span>
                                    }
                                </td>

                                <td>
                                    @if (canShow)
                                    {
                                    <a href="/Staff/Delete/@item.nr" class="option-icon-primary" title="详情">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                    }
                                    @if (canEdit)
                                    {
                                    <a href="/Staff/Edit/@item.nr" class="option-icon-warning" title="编辑">
                                        <i class="fa fa-pencil"></i>
                                    </a>}
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:center;">
        <div class="clearfix pagination">
            <div class="pagination-inner">
                @if (Model != null)
            {
                if (ViewBag.Query != null)
                {
                    //TODO: 添加其他搜索条件
                    var html = Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
                        .Options(o => o.AddRouteValue("Nr", ViewBag.Query.Nr))
                        .Options(o => o.AddRouteValue("Name", ViewBag.Query.Name))
                        .Options(o => o.AddRouteValue("Id", ViewBag.Query.Id))
                        .Options(o => o.AddRouteValue("Sex", ViewBag.Query.Sex))
                        .Options(o => o.AddRouteValue("JobTitleId", ViewBag.Query.JobTitleId))
                        .Options(o => o.AddRouteValue("companyId", ViewBag.Query.companyId))
                        .Options(o => o.AddRouteValue("departmentId", ViewBag.Query.departmentId))
                        .Options(o => o.AddRouteValue("CompanyEmployAtFrom", ViewBag.Query.CompanyEmployAtFrom))
                        .Options(o => o.AddRouteValue("CompanyEmployAtTo", ViewBag.Query.CompanyEmployAtTo))
                        .Options(o => o.AddRouteValue("IsOnTrial", ViewBag.Query.IsOnTrial));
                        @html
                    }
                    else
                    {
                        @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
                    }
                }
            </div>
        </div>
    </div>
</div>

<!--导入数据-->
<div id="dialog_content" class="import_content" style="display:none;">
    <div class="dialogModal_header" style="background:steelblue;color:white;">
        导入员工信息
    </div>
    <div class="dialogModal_content">
        <strong>选择数据文件:</strong>
        <hr />
        <input class="item-data-uploader" type="file" name="files[]" data-url="/Staff/Import" />
        <div class="item-data-uploader-preview" style="display:none;"></div>
        <hr />
        <a href="~/Template/员工信息导入文件模板.xlsx" target="_blank">下载文件模板</a>
    </div>
</div>

@Scripts.Render("~/bundles/staff")

<script type="text/javascript">
    Layout.init();
    Layout.CompanyAndDepartment('#companyId', '#departmentId');
    Layout.rangedatepicker('#CompanyEmployAtFrom', '#CompanyEmployAtTo');

    $('.advanced-filter-btn').click(function () {
        var Display = $('.advanced-filter').css('display');

        if (Display === "none") {
            $('.advanced-filter').slideDown();
        } else {
            $('.advanced-filter').slideUp();
        }
    });

    $('.import-dialog-btn').click(function () {
        $('#dialog_content').dialogModal({
            onOkBut: function () {
            },
            onCancelBut: function () { },
            onLoad: function () {
                data_upload(".item-data-uploader");
            },
            onClose: function () {
                window.location.reload();
            }
        });
    });

</script>

