@using MvcPaging

@model IPagedList<BlueHrLib.Data.Staff>

@{
    ViewBag.Title = "Index";
}

<ol class="breadcrumb current-position" style="margin-top:10px;">
    您的位置：
    <li>用户管理</li>
    <li>员工管理</li>
</ol>

<hr class="hr-grey" />

@*Search*@
<div class="search">
    <form action="/Staff/Search" method="get">
        <div class="row" style="margin:0;">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="marco-igroup-primary">
                    <span>身份证</span>
                    <input type="text" name="Id" id="Id" value="@ViewBag.Query.Id" placeholder="身份证号码" />
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="marco-igroup-primary">
                    <span>员工号</span>
                    <input type="text" name="Nr" id="Nr" value="@ViewBag.Query.Nr" placeholder="员工号" />
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="marco-igroup-primary">
                    <span>姓名</span>
                    <input type="text" name="Name" id="Name" value="@ViewBag.Query.Name" placeholder="姓名" />
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="marco-bgroup">
                    <button type="submit" class="marco-btn-success pull-left">
                        <i class="fa fa-search"></i>
                        <span>搜索</span>
                    </button>

                    <button type="button" class="marco-btn-primary advanced-filter-btn pull-right" title="高级搜索">
                        <i class="fa fa-filter"></i>
                        <span>高级搜索</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="advanced-filter row" style="margin:0;display:none;">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="marco-igroup-primary">
                    <span>性别</span>
                    @Html.DropDownList("Sex", ViewData["sexList"] as IEnumerable<SelectListItem>)
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="marco-igroup-primary">
                    <span>公司</span>
                    @Html.DropDownList("companyId", ViewData["companyList"] as IEnumerable<SelectListItem>)
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="marco-igroup-primary">
                    <span>部门</span>
                    @Html.DropDownList("departmentId", ViewData["departmentList"] as IEnumerable<SelectListItem>)
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="marco-igroup-primary">
                    <span>职位</span>
                    @Html.DropDownList("JobTitleId", ViewData["jobTitleList"] as IEnumerable<SelectListItem>)
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="marco-igroup-primary">
                    <span>进厂日期从</span>
                    <input type="text" class="date_picker_start" name="CompanyEmployAtFrom" id="CompanyEmployAtFrom" value="@ViewBag.Query.CompanyEmployAtFrom" placeholder="进厂日期" />
                    <span>到</span>
                    <input type="text" class="date_picker_end" name="CompanyEmployAtTo" id="CompanyEmployAtTo" value="@ViewBag.Query.CompanyEmployAtTo" placeholder="进厂日期" />
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="marco-igroup-primary">
                    <span>是否为试用期</span>

                    @Html.DropDownList("IsOnTrial", ViewData["isOnTrialList"] as IEnumerable<SelectListItem>)
                </div>
            </div>
        </div>
    </form>
</div>

@*list show*@
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="usual-table">
        <div class="table-heading">
            员工列表
            <div class="pull-right" style="margin-top:-12px;">
                <a href="/Staff/Create">
                    <button class="marco-btn-primary">
                        <i class="glyphicon glyphicon-plus-sign"></i>
                        <span>创建</span>
                    </button>
                </a>
            </div>
        </div>
        <div class="table-body content_3">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>身份证号码</th>
                        <th>员工号</th>
                        <th>员工姓名</th>
                        <th>员工性别</th>
                        <th>员工职位</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
            {
                foreach (var item in Model)
                {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.nr)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.sex)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.jobTitleId)
                                </td>
                                <td>
                                    <a href="/Staff/Delete/@item.id" class="option-icon-primary" title="详情">
                                        <i class="fa fa-eye"></i>
                                    </a>

                                    <a href="/Staff/Edit/@item.nr" class="option-icon-warning" title="编辑">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:center;">
        <div class="clearfix pagination">
            <div class="pagination-inner">
                @if (Model != null)
            {
                if (ViewBag.Query != null)
                {

                    
                    //TODO: 添加其他搜索条件

                    var html = Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
                        .Options(o => o.AddRouteValue("Nr", ViewBag.Query.Nr))
                        .Options(o => o.AddRouteValue("Name", ViewBag.Query.Name));
                        @html
                    }
                    else
                    {
                        @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
                    }
                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    Layout.init();
    Layout.rangedatepicker('#CompanyEmployAtFrom', '#CompanyEmployAtTo');

    //不允许滚动
    $('.nav-content').css({ overflow: 'hidden' });

    $('.table-body').css({ height: $(window).height() - 310 + 'px' });

    console.log($('.table-body').css('height'));

    $(window).resize(function () {
        $('.table-body').css({ height: $(window).height() - 310 + 'px' });
    });

    $('.table-body').mCustomScrollbar({
        scrollInertia: 600,
        autoDraggerLength: false
    });

    $('.advanced-filter-btn').click(function () {
        var Display = $('.advanced-filter').css('display');

        if (Display === "none") {
            $('.advanced-filter').slideDown();
        } else {
            $('.advanced-filter').slideUp();
        }
    });

    var Department = new Array();

    $.ajax({
        url: '/Staff/GetCompanyAndDepartment',
        type: 'get',
        async: false,
        success: function (data) {
            Department = data;
        },
        error: function () {
            console.log("Error");
        }
    });

    $('#CompanyId').change(function () {
        $('#DepartmentId').empty();

        var companyID = $('#CompanyId').find("option:selected").val();
        var Html = "";

        for (dep in Department[companyID]) {
            Html += '<option value=' + dep + '>' + Department[companyID][dep] + '</option>';
        }

        $(Html).appendTo('#DepartmentId');
    })
</script>

