@using MvcPaging

@model IPagedList<BlueHrLib.Data.AttendanceRecordDetail>

@{
    ViewBag.Title = "Index";
}

<ol class="breadcrumb current-position" style="margin-top:10px;">
    您的位置：
    <li>考勤详细数据</li>
</ol>

<hr class="hr-grey" />
 <div class="row">
    <form action="/AttendanceRecordDetail/Search" method="get">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="col-lg-8 col-md-8 col-sm-7 col-xs-6">
                <div class="marco-igroup-primary">
                    <span>工号</span>
                    <input type="text" name="StaffNr" id="StaffNr" placeholder="工号" value="@ViewBag.Query.StaffNr" />
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-6">
                <button type="submit" class="marco-btn-success">
                    <i class="glyphicon glyphicon-search"></i>
                    搜索
                </button>
            </div>
            
            </div>
        <div class="col-lg-4 col-md-4 col-sm-5 col-xs-6">
            <button class="btn btn-warning import-button-dialog" title="Import" data-toggle="tooltip" data-placement="bottom" type="button" style="width:100px;margin-left:20px;">导入打卡记录</button>
        </div>
    </form>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="usual-table">
        <div class="table-heading">
            考勤详细数据列表
            <div class="pull-right" style="margin-top:-12px;">
                <a href="/AttendanceRecordDetail/Create">
                    <button class="marco-btn-primary">
                        <i class="glyphicon glyphicon-plus-sign"></i>
                        <span>创建</span>
                    </button>
                </a>
            </div>
        </div>
        <div class="table-body content_3">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>工号</th>
                        <th>打卡日期</th>
                        <th>打卡时间</th>

                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                        {
                            int i = 0;
                            foreach (var item in Model)
                            {
                            <tr>
                                <td>@(i+=1)</td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.staffNr)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.recordAtDateStr)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.recordAtTimeStr)
                                </td>
                                <td>
                                    <a href="/AttendanceRecordDetail/Delete/@item.id" class="option-icon-primary" title="详情">
                                        <i class="fa fa-eye"></i>
                                    </a>

                                    <a href="/AttendanceRecordDetail/Edit/@item.id" class="option-icon-warning" title="编辑">
                                        <i class="fa fa-pencil"></i>
                                    </a>

                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:center;">
        <div class="clearfix pagination">
            <div class="pagination-inner">
                @if (Model != null)
            {
                if (ViewBag.Query != null)
                {

                    var html = Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
                        .Options(o => o.AddRouteValue("StaffNr", ViewBag.Query.StaffNr));
                        @html
                    }
                    else
                    {
                        @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
                    }
                }
            </div>
        </div>
    </div>
</div>

<!--导入数据-->
<div id="dialog_content" class="import_content" style="display:none;">
    <div class="dialogModal_header" style="background:steelblue;color:white;">
       导入考勤打卡记录
    </div>
    <div class="dialogModal_content">
        <strong>选择数据文件:</strong>
        <hr />
        <input class="item-data-uploader" type="file" name="files[]" data-url="/AttendanceRecordDetail/Import" />
        <div class="item-data-uploader-preview" style="display:none;"></div>
        <hr />
        <a href="~/Template/考勤记录导入文件模板.xlsx" target="_blank">下载文件模板</a>
    </div>
    <div class="dialogModal_footer">
        <button type="submit" class="btn btn-primary ff" style="width:200px;"  >OK</button>
    </div>
</div>

<script type="text/javascript">
    
    $('.import-button-dialog').click(function () {
        $('#dialog_content').dialogModal({
            onOkBut: function () {
            },
            onCancelBut: function () { },
            onLoad: function () {
                data_upload(".item-data-uploader");
            },
            onClose: function () { },
        });
    }); 

</script>
