@using MvcPaging
@using BlueHrWeb.Helpers.View

@model IPagedList<BlueHrLib.Data.Staff>

@{
    ViewBag.Title = "员工离职";
}

@Styles.Render("~/Content/company")

<ol class="breadcrumb current-position" style="margin-top:10px;">
    您的位置：
    <li>劳动关系管理</li>
    <li>员工离职</li>
</ol>

<hr class="hr-grey" />
@{
    bool canDelete = MenuAuthHelper.CanShow("ResignRecord", "Delete");
    bool canEdit = MenuAuthHelper.CanShow("ResignRecord", "Edit");
    bool canCreate = MenuAuthHelper.CanShow("ResignRecord", "Create");

}

<hr class="hr-primary" />
<div style="margin:10px;">
    <div class="minitor-show marco-tabs-default">

            <a href="/ResignRecord/Create" class="pull-right" style="margin-top: -10px; margin-right:5px;">
                <button class="marco-btn-primary">
                    <i class="glyphicon glyphicon-plus-sign"></i>
                    <span>创建</span>
                </button>
            </a>


        <ul class="nav nav-tabs" role="tablist" style="width: 400px;">
            <li role="presentation" class="active"><a href="#all_ResignRecord" role="tab" data-toggle="tab">离职申请</a></li>            
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="all_ResignRecord">
                <div id="all_ResignRecord_grid_table" style="margin:auto;"></div>
                <table class="table table-bordered" style="display:none;">
                    <thead>
                        <tr>
                            <th></th>
                            <th>工号</th>
                            <th>离职类型</th>
                            <th>申请时间</th>
                            <th>生效时间</th>
                            <th>离职理由</th>
                            <th>审批人</th>
                            <th>审批时间</th>
                            <th>审批状态</th>
                            <th>审批备注</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                      @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                
                                    <tr>
                                        @if(item.approvalStatus==null){
                                        <td>
                                            <input type="checkbox" id="@item.id" name="record-approve" class="record-approve" />
                                        </td>
                                        }else{
                                            <td></td>
                                        }
                                        <td>
                                            @Html.DisplayFor(modelItem => item.staffNr)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.resignTypeId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.resignAt)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.resignEffectiveAt)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.resignReason)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.resignChecker)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.approvalAt)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.approvalStatus)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.approvalRemark)
                                        </td>
                                            @if(item.approvalStatus==null){
                                                <td>未审批</td>
                                            }else{
                                            <td>
                                                @Html.DisplayFor(modelItem => item.approvalStatus)
                                            </td>
                                            }
                                        <td>
                                            @Html.DisplayFor(modelItem => item.approvalAt)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.approvalRemark)
                                        </td>
                                        <td>
                                            @if(item.approvalStatus==null){
                                            <a href="/RewardsAndPenalty/Delete/@item.id" class="option-icon-primary" title="详情">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                            <a href="/RewardsAndPenalty/Edit/@item.id" class="option-icon-warning" title="编辑">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                            <a title="审批" id="shRewardsAndPenalty" class="option-icon-danger" onclick="shRewardsAndPenalty(@item.id)">
                                                <i class="fa fa-check"></i>
                                            </a>
                                            }
                                        </td>
                                    </tr>
                                }
                            
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div> 

@Scripts.Render("~/bundles/company")

<script type="text/javascript">
    Layout.init();
    $(window).resize(function () {
        Layout.TransferTableToGrid($(window).width() - 300, $(window).height() - 250, false, "all_ResignRecord", "离职申请列表", "20", "all_ResignRecord_grid_table");
    })

    Layout.TransferTableToGrid($(window).width() - 300, $(window).height() - 260, false, "all_ResignRecord", "离职申请列表", "20", "all_ResignRecord_grid_table");
  

   
    //Layout.TbodyHeight('.table-body', 310);
</script>