@using BlueHrWeb.Models
@model LoginViewModel
@{
    ViewBag.Title = "德晋HR系统";
}

<div class="container">
    <section id="loginForm">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="login">
                <div class="login-heading">
                    <i class="fa fa-key fa-5x fa-spin"></i>
                    <br />
                    <span>LOGIN TO YOUR ACCOUNT</span>
                </div>

                <div class="login-body row">
                    <div class="col-lg-offset-4 col-lg-4 col-md-offset-4 col-md-4 col-offset-3 col-sm-6 col-xs-12">
                        <div class="marco-igroup-success">
                            @*@Html.LabelFor(m => m.Email)*@
                            <span>邮箱</span>
                            @Html.EditorFor(m => m.Email)
                        </div>
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-lg-offset-4 col-lg-4 col-md-offset-4 col-md-4 col-offset-3 col-sm-6 col-xs-12">
                        <div class="marco-igroup-success">
                            @Html.LabelFor(m => m.Password)
                            @Html.PasswordFor(m => m.Password)
                        </div>
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="login-footer">
                    <button type="submit" class="marco-btn-success">
                        <i class="fa fa-unlock"></i>
                        登录
                    </button>
                </div>
            </div>
        }
    </section>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}