@using MvcPaging
@using BlueHrWeb.Helpers.View


@model IPagedList<BlueHrLib.Data.Company>

@{
    ViewBag.Title = "公司管理";
}

@Styles.Render("~/Content/company")

<ol class="breadcrumb current-position" style="margin-top:10px;">
    您的位置：
    <li>公司管理</li>
    <li>
        <strong>公司列表</strong>
    </li>
</ol>

<hr class="hr-grey" />
@{
    bool canDelete = MenuAuthHelper.CanShow("Company", "Delete");
    bool canEdit = MenuAuthHelper.CanShow("Company", "Edit");
    bool canCreate = MenuAuthHelper.CanShow("Company", "Create");

}
<div class="row" style="margin:0;">
    <form action="/Company/Search" method="get">
        <div class="row" style="margin:0;">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="marco-igroup-primary">
                    <span>公司名称</span>
                    <input type="text" name="Name" id="Name" placeholder="公司名称" value="@ViewBag.Query.Name" />
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="margin-top:5px;">
                <button type="submit" class="marco-btn-success">
                    <i class="glyphicon glyphicon-search"></i>
                    搜索
                </button>
            </div>
        </div>
    </form>
</div>

<div style="margin:10px;">
    <div class="minitor-show marco-tabs-default">
        <button type="button" class="marco-btn-primary import-dialog-btn pull-right" style="margin-top: -5px; margin-right:15px;">
            <i class="fa fa-cloud-upload"></i>
            <span>上传</span>
        </button>

        <a href="/Company/Create" class="pull-right" style="margin-top: -10px; margin-right:5px;">
            <button class="marco-btn-primary">
                <i class="glyphicon glyphicon-plus-sign"></i>
                <span>创建</span>
            </button>
        </a>

        <ul class="nav nav-tabs" role="tablist" style="width: 400px;">
            <li role="presentation" class="active"><a href="#inter" role="tab" data-toggle="tab">所有公司</a></li>
        </ul>

        <div class="tab-content">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="all_company_type">
                <div id="all_company_type_grid_table"></div>
                <table class="table table-bordered" style="display:none;">
                    <thead>
                        <tr>
                            <th>公司名称</th>
                            <th>公司地址</th>
                            <th>备注</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
            {
                foreach (var item in Model)
                {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.name)
                                        <span class="badge pull-right marco-badge" title="公司部门">
                                            <a href="@Url.Action("Search", "Department", new { CompanyId = item.id})">
                                                @*@ViewBag.Info.departmentCount*@
                                                @item.departmentCound 部门
                                            </a>
                                        </span>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.address)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.remark)
                                    </td>
                                    <td>
                                        @if (canDelete)
                                        {
                                            <a href="/Company/Delete/@item.id" class="option-icon-primary" title="详情">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                        }
                                        @if (canEdit)
                                        {
                                            <a href="/Company/Edit/@item.id" class="option-icon-warning" title="编辑">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--导入数据-->
    <div id="dialog_content" class="import_content" style="display:none;">
        <div class="dialogModal_header" style="background:steelblue;color:white;">
            导入员工信息
        </div>
        <div class="dialogModal_content">
            <strong>选择数据文件:</strong>
            <hr />
            <input class="item-data-uploader" type="file" name="files[]" data-url="/Staff/Import" />
            <div class="item-data-uploader-preview" style="display:none;"></div>
            <hr />
            <a href="~/Template/员工信息导入文件模板.xlsx" target="_blank">下载文件模板</a>
        </div>
    </div>

    @Scripts.Render("~/bundles/company")

    <script type="text/javascript">
        Layout.init();
        Layout.TransferTableToGrid($(window).width() - 300, $(window).height() - 250, false, "all_company_type", "所有公司列表", "20", "all_company_type_grid_table");

        $('.import-dialog-btn').click(function () {
            $('#dialog_content').dialogModal({
                onOkBut: function () {
                },
                onCancelBut: function () { },
                onLoad: function () {
                    data_upload(".item-data-uploader");
                },
                onClose: function () {
                    window.location.reload();
                }
            });
        });
    </script>
