@model IPagedList<BlueHrLib.Data.Company>

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="col-md-12" style="padding:0;margin-top:110px;">
    <table class="table table-bordered" style="margin-top:110px;">
        <tr>
            <th>
                Name
            </th>
            <th>
                Remark
            </th>
            <th></th>
        </tr>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.remark)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.id })
                    </td>
                </tr>
            }
        }
    </table>
</div>

@Scripts.Render("~/bundles/company")

<script type="text/javascript">
    Layout.init();
</script>