@using MvcPaging;

@model IPagedList<BlueHrLib.Data.Company>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="panel panel-default navbar-fixed-top" style="box-shadow: -2px 2px 4px #34313a;top:60px;">
    <div class="panel-body">
        <div class="col-md-12">
            <form action="/Company/Search" method="get">
                <div class="col-md-7 filter-content">
                    <span class="pull-right" id="basic-addon-filter"> <i class="glyphicon glyphicon-filter"></i> </span>
                    <div class="filter-p"></div>
                </div>
            </form>

        </div>
    </div>
</div>

<div class="col-md-12" style="padding:0;margin-top:110px;">
    <table class="table table-bordered" style="margin-top:110px;">
        <tr>
            <th>
                Name
            </th>
            <th>
                Remark
            </th>
            <th></th>
        </tr>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.remark)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.id })
                    </td>
                </tr>
            }
        }
    </table>
</div>
<div class="col-sm-12" style="text-align:center;">
    <div class="clearfix pagination">
        <div class="pagination-inner">
            @if (Model != null)
            {
                if (ViewBag.Query != null)
                {

                    var html = Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
                        .Options(o => o.AddRouteValue("Name", ViewBag.Query.Name));
                    @html
                }
                else
                {
                    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
                }
            }
        </div>
    </div>
</div>



<div style="display:none;">
    <div id="extra-filter-content">
        <div class="col-sm-12">
            <div class="input-group filter-detail">
                <span class="input-group-addon" id="basic-addon-company-name" style="background:#0088cc;color:white;">Company Name:</span>
                <input type="text" class="form-control" name="Name" id="Name" value="@ViewBag.Query.Name" placeholder="Name" aria-describedby="basic-addon-company-name">
            </div>
        </div>

        <hr />
         

        <div class="popModal_footer">
            <input type="submit" value="Search" class="btn btn-success" data-dialogModalBut="ok" />
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/company")

<script type="text/javascript">
    Company.Init();
    Company.click_filter();
</script>