@using MvcPaging
@using BlueHrWeb.Helpers.View

@model IPagedList<BlueHrLib.Data.FullMemberRecord>

@{
    ViewBag.Title = "转正管理";
}

<ol class="breadcrumb current-position" style="margin-top:10px;">
    您的位置：
    <li>劳动关系管理</li>
    <li>员工转正</li>
</ol>

<hr class="hr-grey" />


<div class="search">
    <form action="/FullMemberRecord/Search" method="get">
        <div class="row" style="margin:0;">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="marco-igroup-primary">
                    <span>工号</span>
                    <input type="text" name="StaffNr" id="StaffNr" placeholder="工号" value="@ViewBag.Query.StaffNr" />
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6" style="margin-top:5px;">
                <button type="submit" class="marco-btn-success">
                    <i class="glyphicon glyphicon-search"></i>
                    搜索
                </button>
            </div>
        </div>
    </form>
</div>
<hr class="hr-primary" />
<div style="margin:10px;">
    <div class="minitor-show marco-tabs-default">

        <a href="/FullMemberRecord/Create" class="pull-right" style="margin-top: -10px;">
            <button class="marco-btn-primary">
                <i class="glyphicon glyphicon-plus-sign"></i>
                <span>创建</span>
            </button>
        </a>

        <ul class="nav nav-tabs" role="tablist" style="width: 400px;">
            <li role="presentation" class="active"><a href="#Not_Approve" role="tab" data-toggle="tab">未审批</a></li>
            <li role="presentation"><a href="#Already_Approve" role="tab" data-toggle="tab">已审批</a></li>
            <li role="presentation"><a href="#all_FullMemberRecord" role="tab" data-toggle="tab">转正记录</a></li>
            
        </ul>
        <div class="tab-content">
            
            <div role="tabpanel" class="tab-pane active" id="Not_Approve">
                <div id="Not_Approve_grid_table" style="margin:auto;"></div>
                <table class="table table-bordered" style="display:none;">
                    <thead>
                        <tr>
                            <th>工号</th>
                            <th>是否通过考核</th>
                            <th>考核分数</th>
                            <th>转正时间</th>
                            <th>转正备注</th>
                            <th>申请人</th>
                            <th>申请时间</th>
                            <th>审批人</th>
                            <th>审批时间</th>
                            <th>审核状态</th>
                            <th>审核备注</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                if (item.approvalStatus == null)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.staffNr)
                                        </td>
                                        <td>
                                            <!--@Html.DisplayFor(modelItem => item.isPassCheck)-->
                                            <span> @(item.isPassCheck ? "通过" : "未通过") </span>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.checkScore)
                                        </td>
                                        <td>
                                            <!--转正时间-->
                                            <span>
                                                @(@item.beFullAt.HasValue ? @item.beFullAt.Value.ToString("yyyy-MM-dd") : "" )
                                            </span>
                                            <!--@Html.DisplayFor(modelItem => item.beFullAt)-->
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.remark)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.userName)
                                        </td>
                                        <td>
                                            <span>
                                                @(@item.createdAt.HasValue ? @item.createdAt.Value.ToString("yyyy-MM-dd") : "" )
                                            </span>
                                            <!--@Html.DisplayFor(modelItem => item.createdAt)-->
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.approvalUserName)
                                        </td>
                                        <td>
                                            <span>
                                                @(@item.approvalAt.HasValue ? @item.approvalAt.Value.ToString("yyyy-MM-dd") : "" )
                                            </span>
                                            <!--@Html.DisplayFor(modelItem => item.approvalAt)-->
                                        </td>
                                        @if (item.approvalStatus == null)
                                        {
                                            <td>未审批</td>
                                        }
                                        else
                                        {
                                            <td>
                                                @Html.DisplayFor(modelItem => item.approvalStatus)
                                            </td>
                                        }
                                        <td>
                                            @Html.DisplayFor(modelItem => item.approvalRemark)
                                        </td>
                                        <td>
                                                <a href="/FullMemberRecord/Delete/@item.id" class="option-icon-primary" title="详情">
                                                    <i class="fa fa-eye"></i>
                                                </a>
                                                <a href="/FullMemberRecord/Edit/@item.id" class="option-icon-warning" title="编辑">
                                                    <i class="fa fa-pencil"></i>
                                                </a>
                                                <a title="审批" class="option-icon-danger" onclick="shFullMemberRecord(@item.id)">
                                                    <i class="fa fa-check"></i>
                                                </a>
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="Already_Approve">
                <div id="Already_Approve_grid_table" style="margin:auto;"></div>
                <table class="table table-bordered" style="display:none;">
                    <thead>
                        <tr>
                            <th>工号</th>
                            <th>是否通过考核</th>
                            <th>考核分数</th>
                            <th>转正时间</th>
                            <th>转正备注</th>
                            <th>申请人</th>
                            <th>申请时间</th>
                            <th>审批人</th>
                            <th>审批时间</th>
                            <th>审核状态</th>
                            <th>审核备注</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                if (item.approvalStatus != null)
                                {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.staffNr)
                                    </td>
                                    <td>
                                        <!--@Html.DisplayFor(modelItem => item.isPassCheck)-->
                                        <span> @(item.isPassCheck ? "通过" : "未通过") </span>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.checkScore)
                                    </td>
                                    <td>
                                        <!--转正时间-->
                                        <span>
                                             @(@item.beFullAt.HasValue ? @item.beFullAt.Value.ToString("yyyy-MM-dd") : "" )
                                        </span>
                                        <!--@Html.DisplayFor(modelItem => item.beFullAt)-->
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.remark)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.userName)
                                    </td>
                                    <td>
                                        <span>
                                             @(@item.createdAt.HasValue ? @item.createdAt.Value.ToString("yyyy-MM-dd") : "" )
                                        </span>
                                        <!--@Html.DisplayFor(modelItem => item.createdAt)-->
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.approvalUserName)
                                    </td>
                                    <td>
                                        <span>
                                             @(@item.approvalAt.HasValue ? @item.approvalAt.Value.ToString("yyyy-MM-dd") : "" )
                                        </span>
                                        <!--@Html.DisplayFor(modelItem => item.approvalAt)-->
                                    </td>
                                    @if (item.approvalStatus == null)
                                    {
                                        <td>未审批</td>
                                    }
                                    else
                                    {
                                        <td>
                                            @Html.DisplayFor(modelItem => item.approvalStatus)
                                        </td>
                                    }
                                    <td>
                                        @Html.DisplayFor(modelItem => item.approvalRemark)
                                    </td>
                                    <td>
                                        @if (item.approvalStatus == null)
                                        {
                                            <a href="/FullMemberRecord/Delete/@item.id" class="option-icon-primary" title="详情">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                            <a href="/FullMemberRecord/Edit/@item.id" class="option-icon-warning" title="编辑">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                            <a title="审批" class="option-icon-danger" onclick="shFullMemberRecord(@item.id)">
                                                <i class="fa fa-check"></i>
                                            </a>
                                        }
                                    </td>
                                </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="all_FullMemberRecord">
                <div id="all_FullMemberRecord_grid_table" style="margin:auto;"></div>
                <table class="table table-bordered" style="display:none;">
                    <thead>
                        <tr>
                            <th>工号</th>
                            <th>是否通过考核</th>
                            <th>考核分数</th>
                            <th>转正时间</th>
                            <th>转正备注</th>
                            <th>申请人</th>
                            <th>申请时间</th>
                            <th>审批人</th>
                            <th>审批时间</th>
                            <th>审核状态</th>
                            <th>审核备注</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.staffNr)
                                    </td>
                                    <td>
                                        <!--@Html.DisplayFor(modelItem => item.isPassCheck)-->
                                        <span> @(item.isPassCheck ? "通过" : "未通过") </span>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.checkScore)
                                    </td>
                                    <td>
                                        <!--转正时间-->
                                        <span>
                                             @(@item.beFullAt.HasValue ? @item.beFullAt.Value.ToString("yyyy-MM-dd") : "" )
                                        </span>
                                        <!--@Html.DisplayFor(modelItem => item.beFullAt)-->
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.remark)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.userName)
                                    </td>
                                    <td>
                                        <span>
                                             @(@item.createdAt.HasValue ? @item.createdAt.Value.ToString("yyyy-MM-dd") : "" )
                                        </span>
                                        <!--@Html.DisplayFor(modelItem => item.createdAt)-->
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.approvalUserName)
                                    </td>
                                    <td>
                                        <span>
                                             @(@item.approvalAt.HasValue ? @item.approvalAt.Value.ToString("yyyy-MM-dd") : "" )
                                        </span>
                                        <!--@Html.DisplayFor(modelItem => item.approvalAt)-->
                                    </td>
                                    @if (item.approvalStatus == null)
                                    {
                                        <td>未审批</td>
                                    }
                                    else
                                    {
                                        <td>
                                            @Html.DisplayFor(modelItem => item.approvalStatus)
                                        </td>
                                    }
                                    <td>
                                        @Html.DisplayFor(modelItem => item.approvalRemark)
                                    </td>
                                    <td>
                                        @if (item.approvalStatus == null)
                                        {
                                            <a href="/FullMemberRecord/Delete/@item.id" class="option-icon-primary" title="详情">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                            <a href="/FullMemberRecord/Edit/@item.id" class="option-icon-warning" title="编辑">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                            <a title="审批" class="option-icon-danger" onclick="shFullMemberRecord(@item.id)">
                                                <i class="fa fa-check"></i>
                                            </a>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="approval_content" class="import_content" style="display:none;">
    <div class="dialogModal_header" style="background:steelblue;color:white;">
        转正审批
    </div>

    <div class="dialogModal_content">
        <div class="marco-nbody row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="marco-igroup-primary">
                    <span>审批状态</span>
                    <select id="aplStatus" name="aplStatus">
                        <option value="通过审批">审批通过</option>
                        <option value="未通过审批">审批未通过</option>
                    </select>
                </div>
            </div>
            <br />
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="marco-textarea">
                    <span>审批备注</span>
                
                    <textarea id="apvRemarks" name="apvRemarks"> </textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="dialogModal_footer row" style="margin:0;">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 pull-right">
            <button class="marco-btn-primary " title="确定" data-dialogmodalbut="ok" type="button" >
                确定
            </button>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/company")

<script type="text/javascript">
    Layout.init();

    $(window).resize(function () {
        Layout.TransferTableToGrid($(window).width() - 300, $(window).height() - 260, false, "Not_Approve", "未审批列表", "20", "Not_Approve_grid_table");
        Layout.TransferTableToGrid($(window).width() - 300, $(window).height() - 260, false, "Already_Approve", "已审批列表", "20", "Already_Approve_grid_table");
        Layout.TransferTableToGrid($(window).width() - 300, $(window).height() - 260, false, "all_FullMemberRecord", "转正记录列表", "20", "all_FullMemberRecord_grid_table");
    })

    Layout.TransferTableToGrid($(window).width() - 300, $(window).height() - 260, false, "Not_Approve", "未审批列表", "20", "Not_Approve_grid_table");
    
    $('#Already_Approve').addClass("active");
    Layout.TransferTableToGrid($(window).width() - 300, $(window).height() - 260, false, "Already_Approve", "已审批列表", "20", "Already_Approve_grid_table");
    $('#Already_Approve').removeClass("active");
    
    $('#all_FullMemberRecord').addClass("active");
    Layout.TransferTableToGrid($(window).width() - 300, $(window).height() - 260, false, "all_FullMemberRecord", "转正记录列表", "20", "all_FullMemberRecord_grid_table");
    $('#all_FullMemberRecord').removeClass("active");


    function shFullMemberRecord(id) {
        $('#approval_content').dialogModal({
            onOkBut: function () {
                var approvalStatus = $(".dialogModal").find("#aplStatus").val();
                var approvalRemark = $(".dialogModal").find("#apvRemarks").val();

                $.post("/FullMemberRecord/Approval", { id: id, approvalStatus: approvalStatus, approvalRemark: approvalRemark }, function (data) {
                    if (!data.Success) {
                        $('#approval_content').dialogModal("hide");
                        Layout.popMsg('popMsg-danger', data.Content);
                        return false;
                    }
                    else {
                        $('#approval_content').dialogModal("hide");
                        Layout.popMsg('popMsg-danger', data.Content);
                        window.location.reload();
                    }
                });

            },
            onCancelBut: function () { },
            onLoad: function () {

            },
            onClose: function () {
                //window.location.reload();
            }
        });
    }
</script>