@using MvcPaging
@using BlueHrWeb.Helpers.View

@model IPagedList<BlueHrLib.Data.FullMemberRecord>

@{
    ViewBag.Title = "转正管理";
}

<ol class="breadcrumb current-position" style="margin-top:10px;">
    您的位置：
    <li>劳动关系管理</li>
    <li>转正管理</li>
</ol>

<hr class="hr-grey" />
@{
    bool canDelete = MenuAuthHelper.CanShow("FullMemberRecord", "Delete");
    bool canEdit = MenuAuthHelper.CanShow("FullMemberRecord", "Edit");
    bool canCreate = MenuAuthHelper.CanShow("FullMemberRecord", "Create");

}
<form action="/FullMemberRecord/Search" method="get">
    <div class="row" style="margin:0;">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="marco-igroup-primary">
                <span>工号</span>
                @Html.DisplayFor(modelItem => item.staffNr)
                <!--<input type="text" name="StaffNr" id="StaffNr" placeholder="工号" value="@ViewBag.Query.StaffNr" />-->
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="marco-igroup-primary">
                <span>离职类型</span>
                <!--使用下拉框进行显示-->
                @Html.DropDownList("resignTypeId", ViewData["resignTypeIdList"] as IEnumerable<SelectListItem>)
                <!--<input type="text" name="ResignTypeId" id="ResignTypeId" placeholder="离职类型" value="@ViewBag.Query.ResignTypeId" />-->
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="margin-top:5px;">
            <button type="submit" class="marco-btn-success">
                <i class="glyphicon glyphicon-search"></i>
                搜索
            </button>
        </div>
    </div>
</form>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="usual-table">
        <div class="table-heading">
            离职管理
            <div class="pull-right" style="margin-top:-12px;">
                @if (canCreate)
                {
                <a href="/FullMemberRecord/Create">
                    <button class="marco-btn-primary">
                        <i class="glyphicon glyphicon-plus-sign"></i>
                        <span>创建</span>
                    </button>
                </a>
                }
            </div>
        </div>
        <div class="table-body content_3">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>转正员工</th>
                        <th>是否通过</th>
                        <!--离职原因就是 resignTypeId-->
                        <th>转正分数</th>
                        <th>转正时间</th>
                        <th>备注</th>
                        <th>审核状态</th>
                        <th>审核人</th>
                        <th>审核备注</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.staffNr)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.isPassCheck)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.checkScore)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.beFullAt)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.remark)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.approvalStatus)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.approvalUserId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.approvalRemark)
                                </td>
                                <td>
                                    @if (canDelete)
                                    {
                                    <a href="/FullMemberRecord/Delete/@item.id" class="option-icon-primary" title="详情">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                    }
                                    @if (canEdit)
                                    {
                                    <a href="/FullMemberRecord/Edit/@item.id" class="option-icon-warning" title="编辑">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    }
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/company")

<script type="text/javascript">
    Layout.init();
    //Layout.TbodyHeight('.table-body', 310);
</script>