@using BlueHrLib.Data

@model BlueHrLib.Data.AttendanceRecordCalView


@{
    ViewBag.Title = "Edit";
}

<ol class="breadcrumb current-position" style="margin-top:10px;">
    您的位置：
    <li>考勤管理</li>
    <li>@Html.ActionLink("统计记录管理", "Index")</li>
    <li>调整工时</li>
</ol>

<hr class="hr-grey" />

@if (Model != null)
{
    <div style="padding:0 15px;">
        <div class="marco-npanel-primary">
            <div class="marco-nbody">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="marco-igroup-primary">
                            <span>工号</span>
                            <input type="text" style="text-align:center;" disabled value="@Model.staffNr" />
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="marco-igroup-primary">
                            <span>姓名 </span>
                            <input type="text" style="text-align:center;" disabled value="@Model.name" />
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="marco-igroup-primary">
                            <span>部门 </span>
                            <input type="text" style="text-align:center;" disabled value="@Model.departmentName" />
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="marco-igroup-primary">
                            <span>考勤日期</span>
                            <input type="text" style="text-align:center;" disabled value="@Model.attendanceDateStr" />
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="marco-igroup-primary">
                            <span>考勤工时</span>
                            <input type="text" id="actWorkingHourRoundDisplay" style="text-align:center;" value="@Model.actWorkingHourRound" disabled />
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        @if (Model.isException)
                        {
                            <div class="marco-igroup-danger">
                                <span>存在异常</span>
                                <input type="text" id="actWorkingHourRoundDisplay" style="text-align:center;" value="@Model.isExceptionStr" disabled />
                            </div>
                        }
                        else
                        {
                            <div class="marco-igroup-success">
                                <span>存在异常</span>
                                <input type="text" id="actWorkingHourRoundDisplay" style="text-align:center;" value="@Model.isExceptionStr" disabled />
                            </div>
                        }
                    </div>
                </div>

                <hr class="hr-grey" />

                <div class="row" style="margin-bottom:15px;">
                    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12" style="border-right: 1px dashed #999;">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="marco-igroup-primary">
                                <span>调整为</span>
                                @Html.EditorFor(model => model.actWorkingHourRound)
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="marco-igroup-primary">
                                <span>是否处理</span>
                                <input type="checkbox" checked="checked" id="isExceptionHandled" />
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="marco-textarea">
                                <textarea name="remark" id="remark" placeholder="备注信息">@Model.remark</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="text-align:center;margin-top:35px;">
                        <button type="submit" class="marco-btn-success" onclick="updateActWorkingHour()">
                            <i class="glyphicon glyphicon-ok"></i>
                            确定
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" id="record-id" value="@Model.id" />

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="usual-table">
            <div class="table-heading">
                考勤详细数据列表
            </div>
            <div class="table-body content_3">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>刷卡日期</th>
                            <th>刷卡时间</th>
                            <th>设备编号</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewData["attendRecords"] != null)
                        {
                            int i = 0;
                            foreach (var item in ViewData["attendRecords"] as List<AttendanceRecordDetailView>)
                            {
                                <tr>
                                    <td>@(i += 1)</td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.recordAtDateStr)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.recordAtTimeStr)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.device)
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>

}
else
{
    <span>未找到记录，请联系管理员</span>
}
<script type="text/javascript">

    function updateActWorkingHour() {
        if (confirm("确认提交修改？")) {
            var hour = $("#actWorkingHourRound").val();
            var id = $("#record-id").val();
            var handled = $("#isExceptionHandled").is(':checked');
            console.log(hour);
            console.log(id);
            console.log(handled);

            if (isNaN(hour)) {
                alert("请填写正确的数字");
                return;
            }

            $.post("/AttendanceRecordCal/UpdateActHour/" + id, { actWorkingHourRound: hour, isExceptionHandled: handled, remark: $("#remark").val() }, function (data) {
                if (data.Success) {
                    Layout.popMsg('popMsg-success', "调整成功!");
                    $("#actWorkingHourRoundDisplay").val(hour);
                } else {
                    Layout.popMsg('popMsg-danger', "调整失败：" + data.Content);
                }
            }, "json");
        }
    }


</script>
