@model BlueHrLib.Data.ExtraWorkRecord
@using BlueHrWeb.Helpers.View
@{
    bool canDeleted = MenuAuthHelper.CanShow("ExtraWorkRecord", "Deleted");
}
<input type="hidden" id="can" value="@canDeleted.ToString()">
<div id="extrawordrecord" style="margin:20px;">
    <ol class="breadcrumb current-position">
        您的位置：
        <li>@Html.ActionLink("加班管理", "Index")</li>
        <li>{{action}}</li>
    </ol>
    <hr class="hr-grey" />

    @using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "Post", OnSuccess = "Success" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        if (Model != null)
        {
            @Html.HiddenFor(model => model.id)
        }

        <div class="marco-npanel-primary">
            <div class="marco-nheading">
                {{action}}
                <div class="pull-right">
                    <button type="submit" class="marco-btn-primary" style="margin-top:-10px; padding: 0 10px;">
                        <i class="fa fa-check-circle-o"></i>
                        <span>{{actionBtn}}</span>
                    </button>
                </div>
            </div>
            <div class="marco-nbody row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="marco-igroup-primary">
                        <span>加班日期</span>
                        @if(Model!=null){
                            <input type="text" name="otTime" id="otTime" class="date-picker" value="@Model.otTime.Value.ToString("yyyy-MM-dd")" />
                        }else{
                            <input type="text" name="otTime" id="otTime" class="date-picker" />
                        }
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="marco-igroup-primary">
                        <span>员工号 </span>
                        @if (Model != null)
                        {
                            <select name="staffNrSelect" id="staffNrSelect"></select>
                            <input type="hidden" id="staffNr" name="staffNr" placeholder="员工号" value="@Model.staffNr"  />
                        }
                        else
                        {
                            <select name="staffNrSelect" id="staffNrSelect"></select>
                            <input type="hidden" id="staffNr" name="staffNr" placeholder="员工号" />
                        }
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                  <div class="marco-igroup-primary">
                     <span>加班起讫 </span>
                      @Html.EditorFor(model => model.startHour, new { htmlAttributes = new { @class = "time-picker" } })
                      <span>~</span>  
                      @Html.EditorFor(model => model.endHour, new { htmlAttributes = new { @class = "time-picker" } })
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="marco-igroup-primary">
                        <span>加班类别 </span>
                        @Html.DropDownList("extraWorkTypeId", ViewData["extraWorkTypeList"] as IEnumerable<SelectListItem>)
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="marco-igroup-danger">
                        <span>加班时长(小时)</span>
                        @Html.EditorFor(model => model.duration, new { htmlAttributes = new { type = "number" } })
                    </div>
                </div>
                
            </div>

            <div class="marco-textarea" style="margin: 5px;">
                <label for="otReason">加班原因</label>
                @if (Model != null)
                {
                    @Html.TextAreaFor(model => model.otReason)
                }
                else
                {
                    <textarea name="otReason" placeholder="加班原因"></textarea>
                }
            </div>
        </div>
    }
</div>
<script type="text/javascript">
    Layout.init();

    //控制textarea高度
    $('textarea').css({ height: ($(window).height() - 400) / 2 + 'px' });
    $(window).resize(function () {
        $('textarea').css({ height: ($(window).height() - 400) / 2 + 'px' });
    });

    //Layout.datepicker('.datetimepicker');
    Layout.datepicker('.date-picker');
    Layout.timepicker('.time-picker');

    Layout.SetTypeStaffNr(100, 'staffNrSelect', 'staffNr');
</script>
