@using MvcPaging
@using BlueHrWeb.Helpers.View

@model IPagedList<BlueHrLib.Data.ExtraWorkRecord>
@{
    ViewBag.Title = "加班管理";
}
<ol class="breadcrumb current-position" style="margin-top:10px;">
    您的位置：
    <li>考勤管理</li>
    <li>
        <strong>加班管理</strong>
    </li>
</ol>
<hr class="hr-grey" />
@{
    bool canDelete = MenuAuthHelper.CanShow("ExtraWorkRecord", "Delete");
    bool canEdit = MenuAuthHelper.CanShow("ExtraWorkRecord", "Edit");
    bool canCreate = MenuAuthHelper.CanShow("ExtraWorkRecord", "Create");

    bool canApp = MenuAuthHelper.CanShow("ExtraWorkRecord", "ApprovalExtraWorkRecord");
    bool canImport = MenuAuthHelper.CanShow("ExtraWorkRecord", "Import");
}
<div class="row" style="margin:0;">
    <form action="/ExtraWorkRecord/Search" method="get">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <div class="marco-igroup-primary">
                <span>员工编号</span>
                <input type="text" name="staffNr" id="staffNr" placeholder="员工编号" value="@ViewBag.Query.staffNr" />
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-5">
            <div class="marco-igroup-primary">
                <span>加班类别</span>
                @Html.DropDownList("extraWorkTypeId", ViewData["extraWorkTypeList"] as IEnumerable<SelectListItem>)
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-11 col-xs-11">
            <div class="marco-igroup-primary">
                <span>加班日期</span>
                <input type="text" name="durStart" id="durStart" class="datetimepicker" placeholder="开始" value="@ViewBag.Query.durStart" />
                <span style="margin-left: 5px;"> ~ </span>
                <input type="text" name="durEnd" id="durEnd" class="datetimepicker" placeholder="结束" value="@ViewBag.Query.durEnd" />
                <span class="marco-label-success" style="padding:0;">
                    <button type="submit" class="marco-btn-success" style="padding:10px; margin:0;">
                        <i class="fa fa-search"></i>
                        搜索
                    </button>
                   
                </span>
            </div>
        </div>
    </form>
</div>

<div style="margin:10px;">
    <div class="minitor-show marco-tabs-default">
        <a href="/ExtraWorkRecord/Create" class="pull-right" style="margin-top: -9px; margin-right:5px;">
            <button type="button" class="marco-btn-primary">
                <i class="glyphicon glyphicon-plus-sign"></i>
                <span>创建</span>
            </button>
        </a>

        <button type="button" class="marco-btn-success pull-right" style="margin-top: -4px; margin-right:5px;" onclick="shBatchAbsenceRecord()">
            <i class="fa fa-pencil"></i>
            <span>批量审批</span>
        </button>

        @if (canImport)
        {
            <button class="marco-btn-primary import-button-dialog pull-right" title="Import" style="margin-top: -4px; margin-right:5px;" type="button">
                <i class="fa fa-cloud-upload"></i>
                <span>导入加班记录</span>
            </button>
        }

        <ul class="nav nav-tabs" role="tablist" style="width: 400px;">
            <li role="presentation" class="active"><a href="#inter" role="tab" data-toggle="tab">加班列表</a></li>
        </ul>

        <div class="tab-content">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="all_extra_type">
                <div id="all_extra_type_grid_table"></div>
                <table class="table table-bordered" style="display:none;">
                    <thead>
                        <tr>
                            <th>  </th>
                            <th>日期</th>
                            <th>员工号</th>
                            <th>姓名</th>
                            <th>公司</th>
                            <th>部门</th>
                            <th>起讫</th>
                            <th>加班时长(小时)</th>
                            <th>加班类别</th>
                            <th>加班原因</th>
                            <th>审批状态</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                bool approved = item.ExtraWorkRecordApprovals.OrderByDescending(p => p.id).Count() > 0;

                                <tr>
                                    <td>
                                        <input type="checkbox" id="@item.id" name="record-approve" class="record-approve" />
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.otTimeStr)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.staffNr)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Staff.name)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Staff.companyName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Staff.departmentFullName)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.startEndHourStr)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.duration)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ExtraWorkType.name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.otReason)
                                    </td>
                                    @if (approved)
                                    {
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ExtraWorkRecordApprovals.OrderByDescending(p => p.id).FirstOrDefault().approvalStatus)
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            未审批
                                        </td>
                                    }
                                    <td>
                                        @if (canDelete)
                                        {
                                            <a href="/ExtraWorkRecord/Delete/@item.id" class="option-icon-primary" title="详情">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                        }
                                        @if (canEdit)
                                        {
                                            <a href="/ExtraWorkRecord/Edit/@item.id" class="option-icon-warning" title="编辑">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                        }
                                        @if (canApp)
                                        {
                                            <a title="审核" id="shAbsenceRecord" onclick="shAbsenceRecord(@item.id)">
                                                <i class="fa fa-calculator" style="width: 24px;height: 24px;border-radius: 4px;border: 2px solid #c0392b;line-height: 20px;vertical-align: middle;color: #c0392b;padding-left: 2px; cursor: pointer;"></i>
                                            </a>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
    <!--导入数据-->
    <div id="dialog_content" class="import_content" style="display:none;">
        <div class="dialogModal_header" style="background:steelblue;color:white;">
            导入加班记录
        </div>
        <div class="dialogModal_content">
            <strong>选择数据文件:</strong>
            <hr />
            <input class="item-data-uploader" type="file" name="files[]" data-url="/ExtraWorkRecord/Import" />
            <div class="item-data-uploader-preview" style="display:none;"></div>
            <hr />
            <a href="~/Template/加班记录导入文件模板.xlsx" target="_blank">下载文件模板</a>
        </div>
    </div>

    <div id="approval_content" class="import_content" style="display:none;">
        <div class="dialogModal_header" style="background:steelblue;color:white;">
            缺勤审批
        </div>

        <div class="dialogModal_content">
            <div class="marco-nbody row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="marco-igroup-primary">
                        <span>审批状态</span>
                        <select id="aplStatus" name="aplStatus" onchange="selAplStatus(this.options[this.options.selectedIndex].value)">
                            <option value="未审批">未审批</option>
                            <option value="通过审批">通过审批</option>
                            <option value="未通过审批">未通过审批</option>
                        </select>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="marco-igroup-primary">
                        <span>审批备注</span>
                        <textarea id="apvRemarks" name="apvRemarks" onchange="checkField(this.value)"></textarea>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <input id="thePkId" hidden="hidden" />
                    <input id="theAplStatus" hidden="hidden" />
                    <input id="theApvRemarks" hidden="hidden" />
                    <button class="marco-btn-primary " title="确定" type="button" id="apprvalConfirm" onclick="theApprvalConfirm()">
                        确定
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        Layout.init();

        Layout.TransferTableToGrid($(window).width() - 300, $(window).height() - 300, false, "all_extra_type", "加班列表", "20", "all_extra_type_grid_table");


        $('.datetimepicker').datetimepicker({
            format: 'Y-m-d',
            timepicker: false
        });

        $('.import-button-dialog').click(function () {
            $('#dialog_content').dialogModal({
                onOkBut: function () {
                },
                onCancelBut: function () { },
                onLoad: function () {
                    data_upload(".item-data-uploader");
                },
                onClose: function () {
                    window.location.reload();
                }
            });
        });

        //审核
        function shAbsenceRecord(id) {
            $("#thePkId").val(id);

            $('#approval_content').dialogModal({
                onOkBut: function () {
                },
                onCancelBut: function () { },
                onLoad: function () {

                },
                onClose: function () {
                    //window.location.reload();
                }
            });
        }

        //批量审核
        function shBatchAbsenceRecord() {
            var items = get_items();
            if (items.length == 0) {
                alert("请选择需要审批项");
                return;
            }
            $("#thePkId").val(items);

            $('#approval_content').dialogModal({
                onOkBut: function () {
                },
                onCancelBut: function () { },
                onLoad: function () {

                },
                onClose: function () {
                    //window.location.reload();
                }
            });
        }

        function selAplStatus(s) {
            $("#theAplStatus").val(s);
        }

        function checkField(s) {
            $("#theApvRemarks").val(s);
        }

        var theApprvalConfirm = function () {

            var approvalStatus = $("#theAplStatus").val();
            var approvalRemarks = $("#theApvRemarks").val();

            if (approvalStatus == null || approvalStatus == "") {
                Layout.popMsg('popMsg-danger', "请选择审批状态！");
                return;
            }
            else {
                $.post("/ExtraWorkRecord/ApprovalExtraWorkRecord", { extralRecordId: $("#thePkId").val(), approvalStatus: approvalStatus, approvalRemarks: approvalRemarks }, function (data) {

                    if (!data.Success) {
                        $('#approval_content').dialogModal("hide");
                        Layout.popMsg('popMsg-danger', data.Content);
                        return false;
                    }
                    else {
                        $('#approval_content').dialogModal("hide");
                        Layout.popMsg('popMsg-danger', data.Content);
                        window.location.reload();
                    }
                });
            }
        }


        function get_items() {
            var items = [];
            $.each($('.record-approve:checked'), function (i, item) {
                // console.log($(item).attr('id'));
                items.push($(item).attr('id'));
            });
            return items;
        }

    </script>
