@using MvcPaging
@using BlueHrWeb.Helpers.View
@model IPagedList<BlueHrLib.Data.ExtraWorkRecordView>
@{
    ViewBag.Title = "加班管理";
}
<ol class="breadcrumb current-position" style="margin-top:10px;">
    您的位置：
    <li>基础信息管理</li>
    <li>
        <strong>加班管理</strong>
    </li>
</ol>
<hr class="hr-grey" />

@{
    bool canDelete = MenuAuthHelper.CanShow("ExtraWorkRecord", "Delete");
    bool canEdit = MenuAuthHelper.CanShow("ExtraWorkRecord", "Edit");
    bool canCreate = MenuAuthHelper.CanShow("ExtraWorkRecord", "Create");
    bool canApproval = MenuAuthHelper.CanShow("ExtraWorkRecord", "Approval");
    bool canImport = MenuAuthHelper.CanShow("ExtraWorkRecord", "Import");
}

<div class="row" style="margin:0;">
    <form action="/ExtraWorkRecord/Search" method="get">

        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <div class="marco-igroup-primary">
                <span>员工编号</span>
                <input type="text" name="staffNr" id="staffNr" placeholder="员工编号" value="@ViewBag.Query.staffNr" />
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-5">
            <div class="marco-igroup-primary">
                <span>加班类别</span>
                @Html.DropDownList("extraWorkTypeId", ViewData["extraWorkTypeList"] as IEnumerable<SelectListItem>)
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-11 col-xs-11">
            <div class="marco-igroup-primary">
                <span>加班日期</span>
                <input type="text" name="durStart" id="durStart" class="datetimepicker" placeholder="开始" value="@ViewBag.Query.durStart" />
                <span style="margin-left: 5px;"> ~ </span>
                <input type="text" name="durEnd" id="durEnd" class="datetimepicker" placeholder="结束" value="@ViewBag.Query.durEnd" />
                
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:5px;">
            <button type="button" class="marco-btn-primary advanced-filter-btn pull-right" title="自定义搜索" style="margin-right: 5px;">
                <i class="fa fa-filter"></i>
                <span>自定义搜索</span>
            </button>
            <button type="submit" class="marco-btn-success pull-right" style="margin-right: 5px;">
                <i class="glyphicon glyphicon-search"></i>
                搜索
            </button>
        </div>
    </form>
</div>
 @* 自定义搜索 *@
<div id="search_content" class="import_content" style="display:none;">
       <form action="/ExtraWorkRecord/AdvancedSearch" method="post">
            <div class="dialogModal_header" style="background:steelblue; color:white;">
                自定义搜索信息
            </div>
            <div class="dialogModal_body itm" style="margin:8px;">
                <div class="row cln">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="marco-igroup-primary">
                            <span>字段</span>
                            @Html.DropDownList("allTableName", ViewData["getAllTableNameList"] as IEnumerable<SelectListItem>)
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="marco-igroup-primary">
                            <span>条件</span>
                            @Html.DropDownList("searchConditions", ViewData["searchConditionsList"] as IEnumerable<SelectListItem>)
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <div class="marco-igroup-primary">
                            <span>值</span>
                            <input type="text" name="searchValueFirst" value="@ViewBag.searchValueFirst" />
                        </div>
                    </div>
                </div>   
            </div>
            <div class="dialogModal_footer row" style="margin: 0;">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button type="submit" class="marco-btn-success pull-right">
                        <i class="fa fa-search"></i>
                        <span>搜索</span>
                    </button>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <button class="marco-btn-primary pull-right" title="点击删除字段" type="button" onclick="deleteCondition()">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button class="marco-btn-primary pull-right" title="点击添加字段" type="button" onclick="addCondition()">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div> 
        </form>
</div>
<hr class="hr-primary" />
<div style="margin:10px;">
    <div class="minitor-show marco-tabs-default">
        @if (canCreate)
        {
            <a href="/ExtraWorkRecord/Create" class="pull-right" style="margin-top: -10px;">
                <button type="button" class="marco-btn-primary">
                    <i class="glyphicon glyphicon-plus-sign"></i>
                    <span>创建</span>
                </button>
            </a>
        }
        @if (canApproval)
        {
            <button type="button" class="marco-btn-success pull-right" style="margin-top: -5px; margin-right:5px;" onclick="shBatchAbsenceRecord()">
                <i class="fa fa-pencil"></i>
                <span>批量审批</span>
            </button>
        }

        @if (canImport)
        {
            <button class="marco-btn-primary import-button-dialog pull-right" title="Import" style="margin-top: -5px; margin-right:5px;" type="button">
                <i class="fa fa-cloud-upload"></i>
                <span>导入加班记录</span>
            </button>
        }

        <ul class="nav nav-tabs" role="tablist" style="width: 400px;">
            
            
            <li role="presentation" class="active"><a href="#not" role="tab" data-toggle="tab">未审批</a></li>
            <li role="presentation"><a href="#already" role="tab" data-toggle="tab">已审批</a></li>
            <li role="presentation"><a href="#all" role="tab" data-toggle="tab">加班申请</a></li>
            
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="not">
                <div id="not_grid_table" style="margin:auto;"></div>
                <table class="table table-bordered" style="display:none;">
                    <thead>
                        <tr>
                            <th></th>
                            <th>日期</th>
                            <th>工号</th>
                            <th>起讫</th>
                            <th>加班时长(小时)</th>
                            <th>加班类别</th>
                            <th>加班原因</th>
                            <th>审批状态</th>
                            <th>备注</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                if (item.approvalStatus == null)
                                {
                                    <tr>
                                        @if (item.approvalStatus == null)
                                        {
                                            <td style="width: 100px;">
                                                <input type="checkbox" id="@item.id" name="record-approve" class="record-approve" />
                                            </td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                        <td>
                                            @Html.DisplayFor(modelItem => item.otTimeStr)
                                        </td>
                                        <td>
                                            <a href="/Staff/Delete/@item.nr" class="option-icon-primary">
                                                @Html.DisplayFor(modelItem => item.staffNr)
                                                <i class="fa fa-eye"></i>
                                            </a>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.startEndHourStr)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.duration)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.otReason)
                                        </td>
                                        @if (item.approvalStatus == null)
                                        {
                                            <td>未审批</td>
                                        }
                                        else
                                        {
                                            <td>
                                                @Html.DisplayFor(modelItem => item.approvalStatus)
                                            </td>
                                        }
                                        <td>
                                            @Html.DisplayFor(modelItem => item.remarks)
                                        </td>
                                        <td>
                                            @if (canDelete)
                                            {
                                                <a href="/ExtraWorkRecord/Delete/@item.id" class="option-icon-primary" title="详情">
                                                    <i class="fa fa-eye"></i>
                                                </a>
                                            }
                                            @if (canEdit)
                                            {
                                                <a href="/ExtraWorkRecord/Edit/@item.id" class="option-icon-warning" title="编辑">
                                                    <i class="fa fa-pencil"></i>
                                                </a>
                                            }
                                            @if (canApproval)
                                            {
                                                <a title="审批" id="shAbsenceRecord" class="option-icon-danger" onclick="shAbsenceRecord(@item.id)">
                                                    <i class="fa fa-check"></i>
                                                </a>
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="all">
                <div id="all_grid_table" style="margin:auto;"></div>
                <table class="table table-bordered" style="display:none;">
                    <thead>
                        <tr>
                            <th></th>
                            <th>日期</th>
                            <th>工号</th>                            
                            <th>起讫</th>
                            <th>加班时长(小时)</th>
                            <th>加班类别</th>
                            <th>加班原因</th>
                            <th>审批状态</th>
                            <th>备注</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {

                                <tr>
                                    @if(item.approvalStatus==null){
                                    <td style="width: 100px;">
                                        <input type="checkbox" id="@item.id" name="record-approve" class="record-approve" />
                                    </td>
                                    }else{
                                        <td></td>
                                    }
                                    <td>
                                       
                                        @Html.DisplayFor(modelItem => item.otTimeStr)
                                    </td>
                                    <td>
                                        <a href="/Staff/Delete/@item.nr" class="option-icon-primary">
                                            @Html.DisplayFor(modelItem => item.staffNr)
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.startEndHourStr)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.duration)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.otReason)
                                    </td>
                                        @if(item.approvalStatus==null){
                                            <td>未审批</td>
                                        }else{
                                        <td>
                                            @Html.DisplayFor(modelItem => item.approvalStatus)
                                        </td>
                                        }
                                    <td>
                                        @Html.DisplayFor(modelItem => item.remarks)
                                    </td>
                                    <td>

                                        @if(item.approvalStatus==null){
                                        
                                            if (canDelete)
                                            {
                                                <a href="/ExtraWorkRecord/Delete/@item.id" class="option-icon-primary" title="详情">
                                                    <i class="fa fa-eye"></i>
                                                </a>
                                            }
                                            if (canEdit)
                                            {
                                                <a href="/ExtraWorkRecord/Edit/@item.id" class="option-icon-warning" title="编辑">
                                                    <i class="fa fa-pencil"></i>
                                                </a>
                                            }
                                            if (canApproval)
                                            {
                                                <a title="审批" id="shAbsenceRecord" class="option-icon-danger" onclick="shAbsenceRecord(@item.id)">
                                                    <i class="fa fa-check"></i>
                                                </a>
                                            }

                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="already">
                <div id="already_grid_table" style="margin:auto;"></div>
                <table class="table table-bordered" style="display:none;">
                    <thead>
                        <tr>
                            <th></th>
                            <th>日期</th>
                            <th>工号</th>                            
                            <th>起讫</th>
                            <th>加班时长(小时)</th>
                            <th>加班类别</th>
                            <th>加班原因</th>
                            <th>审批状态</th>
                            <th>备注</th>
                            @*<th>操作</th>*@
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                if(item.approvalStatus!=null){

                                    <tr>
                                        @if(item.approvalStatus==null){
                                        <td style="width: 100px;">
                                            <input type="checkbox" id="@item.id" name="record-approve" class="record-approve" />
                                        </td>
                                        }else{
                                            <td></td>
                                        }
                                        <td>
                                        
                                            @Html.DisplayFor(modelItem => item.otTimeStr)
                                        </td>
                                        <td>
                                            <a href="/Staff/Delete/@item.nr" class="option-icon-primary">
                                                @Html.DisplayFor(modelItem => item.staffNr)
                                                <i class="fa fa-eye"></i>
                                            </a>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.startEndHourStr)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.duration)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.otReason)
                                        </td>
                                            @if(item.approvalStatus==null){
                                                <td>未审批</td>
                                            }else{
                                            <td>
                                                @Html.DisplayFor(modelItem => item.approvalStatus)
                                            </td>
                                            }
                                        <td>
                                            @Html.DisplayFor(modelItem => item.remarks)
                                        </td>
                                        @*<td>

                                            @if(item.approvalStatus==null){
                                            
                                                <a href="/ExtraWorkRecord/Delete/@item.id" class="option-icon-primary" title="详情">
                                                    <i class="fa fa-eye"></i>
                                                </a>
                                        
                                                <a href="/ExtraWorkRecord/Edit/@item.id" class="option-icon-warning" title="编辑">
                                                    <i class="fa fa-pencil"></i>
                                                </a>
                                        
                                                <a title="审批" id="shAbsenceRecord" class="option-icon-danger" onclick="shAbsenceRecord(@item.id)">
                                                    <i class="fa fa-check"></i>
                                                </a>
                                            
                                            }
                                        </td>*@
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
            
        </div>
        
    </div>
    <!--导入数据-->
    <div id="dialog_content" class="import_content" style="display:none;">
        <div class="dialogModal_header" style="background:steelblue;color:white;">
            导入加班记录
        </div>
        <div class="dialogModal_content">
            <strong>选择数据文件:</strong>
            <hr />
            <input class="item-data-uploader" type="file" name="files[]" data-url="/ExtraWorkRecord/Import" />
            <div class="item-data-uploader-preview" style="display:none;"></div>
            <hr />
            <a href="~/Template/加班记录导入文件模板.xlsx" target="_blank">下载文件模板</a>
        </div>
    </div>

    <div id="approval_content" class="approval_content" style="display:none;">
        <div class="dialogModal_header" style="background:steelblue;color:white;">
            加班审批
        </div>

        <div class="dialogModal_content">
            <div class="marco-nbody row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="marco-igroup-primary">
                        <span>审批状态</span>
                        <select id="aplStatus" name="aplStatus">                            
                            <option value="通过审批">审批通过</option>
                            <option value="未通过审批">审批未通过</option>
                        </select>
                    </div>
                </div>
                <br/>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="marco-textarea">
                        <span>审批备注</span>
                        <textarea id="apvRemarks" name="apvRemarks"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="dialogModal_footer row" style="margin: 0;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <button class="marco-btn-primary pull-right" title="确定" data-dialogmodalbut="ok" type="button" >
                    确定
                </button>
            </div>
        </div>

    </div>

    <script type="text/javascript">
        Layout.init();

        var TableWidth = $(window).width() - 300;

        if($.cookie('left_sidebar')=="true"){
            TableWidth  = $(window).width() - 110;
        }

        $(window).resize(function () {
            Layout.TransferTableToGrid($(window).width() - 300, $(window).height() - 250, false, "all", "加班申请列表", "20", "all_grid_table");
            Layout.TransferTableToGrid($(window).width() - 300, $(window).height() - 250, false, "already", "已审批列表", "20", "already_grid_table");
            Layout.TransferTableToGrid($(window).width() - 300, $(window).height() - 250, false, "not", "未审批列表", "20", "not_grid_table");
                        
        })
        Layout.TransferTableToGrid($(window).width() - 300, $(window).height() - 260, false, "not", "未审批列表", "20", "not_grid_table");
        $('#already').addClass("active");
        Layout.TransferTableToGrid($(window).width() - 300, $(window).height() - 260, false, "already", "已审批列表", "20", "already_grid_table");
        $('#already').removeClass("active");

        $('#all').addClass("active");
        Layout.TransferTableToGrid($(window).width() - 300, $(window).height() - 260, false, "all", "加班申请列表", "20", "all_grid_table");
        $('#all').removeClass("active");


        $('.datetimepicker').datetimepicker({
            format: 'Y-m-d',
            timepicker: false
        });

        $('.import-button-dialog').click(function () {
            $('#dialog_content').dialogModal({
                onOkBut: function () {
                },
                onCancelBut: function () { },
                onLoad: function () {
                    data_upload(".item-data-uploader");
                },
                onClose: function () {
                    window.location.reload();
                }
            });
        });

        //审核
        function shAbsenceRecord(id) {
            $('#approval_content').dialogModal({
                onOkBut: function () {
                    var approvalStatus = $(".dialogModal").find("#aplStatus").val();
                    var approvalRemarks = $(".dialogModal").find("#apvRemarks").val();

                    if (approvalStatus == null || approvalStatus == "") {
                        Layout.popMsg('popMsg-danger', "请选择审批状态！");
                        return;
                    }
                    else {
                        $.post("/ExtraWorkRecord/ApprovalExtraWorkRecord", { extralRecordId: id, approvalStatus: approvalStatus, approvalRemarks: approvalRemarks }, function (data) {

                            if (!data.Success) {
                                $('#approval_content').dialogModal("hide");
                                Layout.popMsg('popMsg-danger', data.Content);
                                return false;
                            }
                            else {
                                $('#approval_content').dialogModal("hide");
                                Layout.popMsg('popMsg-danger', data.Content);
                                window.location.reload();
                            }
                        });
                    }
                },
                onCancelBut: function () { },
                onLoad: function () {

                },
                onClose: function () {
                    //window.location.reload();
                }
            });
        }

        //批量审核
        function shBatchAbsenceRecord() {
            var items = get_items();
            if (items.length == 0) {
                alert("请选择需要审批项");
                return;
            }
            $("#thePkId").val(items);

            $('#approval_content').dialogModal({
                onOkBut: function () {
                },
                onCancelBut: function () { },
                onLoad: function () {

                },
                onClose: function () {
                    //window.location.reload();
                }
            });
        }
        
        function get_items() {
            var items = [];
            $.each($('.record-approve:checked'), function (i, item) {
                // console.log($(item).attr('id'));
                items.push($(item).attr('id'));
            });
            return items;
        }

        //弹出框
        $('.advanced-filter-btn').click(function () {
            $('#search_content').dialogModal({
                onOkBut: function () {
                },
                onCancelBut: function () { },
                onLoad: function () {
                },
                onClose: function () {
                }
            });
        });

        function addCondition(){
            if($(".itm .cln").length<5){
                $(".cln:last").after($('.cln:last').clone(true));
            }   
        }
        
        function deleteCondition(){
            if($(".itm .cln").length<=2){

            }else{
                $(".cln:last").remove();
            }
        }
    </script>
