@model BlueHrLib.Data.PartTimeJob
@using BlueHrWeb.Helpers.View
@{
    bool canDeleted = MenuAuthHelper.CanShow("PartTimeJob", "Deleted");
}
<input type="hidden" id="can" value="@canDeleted.ToString()">
<div id="parttimejob" style="margin:20px;">
    <ol class="breadcrumb current-position">
        您的位置：
        <li>@Html.ActionLink("兼职管理", "Index")</li>
        <li>{{action}}</li>
    </ol>

    <hr class="hr-grey" />

    @using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "Post", OnSuccess = "Success" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        if (Model != null)
        {
            @Html.HiddenFor(model => model.id)
        }

        <div class="marco-npanel-primary">
            <div class="marco-nheading">
                {{action}}

                <div class="pull-right">
                    <button type="submit" class="marco-btn-primary" style="margin-top:-10px; padding: 0 10px;">
                        <i class="fa fa-check-circle-o"></i>
                        <span>{{actionBtn}}</span>
                    </button>
                </div>
            </div>

            <div class="marco-nbody row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="marco-igroup-primary">
                        <span>工号</span>

                        @if(Model !=null){
                            <select name="staffNrSelect" id="staffNrSelect"></select>
                            <input type="hidden" id="staffNr" name="staffNr" palceholder="员工号" value="@Model.staffNr"/>
                        }else{
                            <select name="staffNrSelect" id="staffNrSelect"></select>
                            <input type="hidden" id="staffNr" name="staffNr" placeholder="员工号">
                        }
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="marco-igroup-primary">
                        <span>公司</span>
                        @Html.DropDownList("companyId", ViewData["companyList"] as IEnumerable<SelectListItem>)
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="marco-igroup-primary">
                        <span>部门</span>
                        @Html.DropDownList("departmentId", ViewData["departmentList"] as IEnumerable<SelectListItem>)
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="marco-igroup-primary">
                        <span>职位</span>
                        @Html.DropDownList("jobTitleId", ViewData["jobTitleList"] as IEnumerable<SelectListItem>)
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="marco-igroup-primary">
                        <span>开始日期</span>
                        @if (Model != null&& Model.startTime.HasValue)
                        {
                            <input id="startTime" name="startTime" value="@Model.startTime.Value.ToString("yyyy-MM-dd")" class="date-picker" />
                        }
                        else
                        {
                            <input id="startTime" name="startTime" value="" class="date-picker" />
                        }
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="marco-igroup-primary">
                        <span>终止日期</span>
                        @if (Model != null&& Model.endTime.HasValue)
                        {
                            <input id="endTime" name="endTime" value="@Model.endTime.Value.ToString("yyyy-MM-dd")" class="date-picker" />
                        }
                        else
                        {
                            <input id="endTime" name="endTime" value="" class="date-picker" />
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    Layout.init();

    Layout.SetTypeStaffNr(100, 'staffNrSelect', 'staffNr', false)

    //控制textarea高度
    $('textarea').css({ height: ($(window).height() - 400) / 2 + 'px' });
    $(window).resize(function () {
        $('textarea').css({ height: ($(window).height() - 400) / 2 + 'px' });
    });
    Layout.datepicker('.date-picker');

    //二级联动
    $("#companyId").change(function(){
        console.log($(this).val());
 
        Layout.CompanyAndDepartment('#companyId', '#departmentId');
    });
 
    Layout.CompanyAndDepartment('#companyId', '#departmentId');

</script>
