@using BlueHrWeb.Helpers.View

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*360默认是极速模式*@
    <meta name="renderer" content="webkit">
    @*IE默认设置为最高版本*@
    <meta name="renderer" content="ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 

    <title>@ViewBag.Title - HR</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/layout")
    @Styles.Render("~/Content/bootstrap-treeview")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery-plug-in")
    @Scripts.Render("~/bundles/layout")
    @Scripts.Render("~/bundles/vue")
    @Scripts.Render("~/bundles/bootstrap-treeview")
    @RenderSection("scripts", required: false)
</head>

 @*sidebar-collapse*@

<body class="skin-blue fixed sidebar-mini"">
    <div class="wrapper">
        @if (Session["user"] != null) {
            <header class="main-header">
                <!-- Logo -->
                <a href="/" class="logo">
                    <span class="logo-mini"><b>HR</b></span>
                    <span class="logo-lg">德晋<b>HR</b>系统</span>
                </a>
                <nav class="navbar navbar-static-top">

                    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            <li>
                                @if (MenuAuthHelper.CanShow("MessageRecord", "Index"))
                                {
                                    <a href="/MessageRecord/Index" title="消息">
                                        <i class="fa fa-bell-o"></i>
                                        <span class="label label-primary" id="unread-count"></span>
                                    </a>}
                            </li>
                            @Html.Partial("_LoginPartial")
                        </ul>
                    </div>
                </nav>
            </header>
        }
        else
        {
        @Html.Partial("_LoginPartial")
        }

    @if (Session["user"] != null)
    {
        bool canSysRole = MenuAuthHelper.CanShow("SysRole", "Index");
        bool canSysAuthorization = MenuAuthHelper.CanShow("SysAuthorization", "Index");
        bool canSysRoleAuthorization = MenuAuthHelper.CanShow("SysRoleAuthorization", "Index");
        <aside class="main-sidebar">
            <section class="sidebar">
                <ul class="sidebar-menu">
                    <li class="nav-sysRole">
                        <a href="/Home/Index">
                            <i class="fa fa-unlock-alt"></i>
                            <span>我的主页</span>
                        </a>
                    </li>

                    <li class="nav-myThing">
                        <a href="#">
                            <i class="fa fa-user"></i>
                            <span>个人事项</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>

                        <ul class="treeview-menu">
                            <li class="nav-myApplication">
                                <a href="/Personal/Application">
                                    <i class="fa fa-user-secret"></i>
                                    我的申请
                                </a>
                            </li>
                            <li class="nav-myApproval">
                                <a href="/Personal/Approval">
                                    <i class="fa fa-briefcase"></i>
                                    我的审批
                                </a>
                            </li>
                            <li class="nav-mySchedule">
                                <a href="/Personal/Schedule">
                                    <i class="fa fa-briefcase"></i>
                                    日程安排
                                </a>
                            </li>
                            <li class="nav-myNote">
                                <a href="/Personal/Note">
                                    <i class="fa fa-briefcase"></i>
                                    便笺本
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-userAuthorization">
                        <a href="#">
                            <i class="fa fa-unlock-alt"></i>
                            <span>用户权限管理</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>

                        <ul class="treeview-menu">
                            <li class="nav-user">
                                <a href="/User/Index">
                                    <i class="fa fa-user-secret"></i>
                                    用户管理
                                </a>
                            </li>

                            <li class="nav-authorization">
                                <a href="/SysAuthorization/Index">
                                    <i class="fa fa-user-secret"></i>
                                    权限管理
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-sysRole">
                        <a href="/Basic/BasicInfo">
                            <i class="fa fa-unlock-alt"></i>
                            <span>基础信息管理</span>
                        </a>
                    </li>

                    <li class="nav-organization">
                        <a href="#">
                            <i class="fa fa-unlock-alt"></i>
                            <span>组织架构</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>

                        <ul class="treeview-menu">
                            <li class="nav-organizationManager">
                                <a href="/Company/Index">
                                    <i class="fa fa-list-ol"></i>
                                    组织架构管理
                                </a>
                            </li>
                            <li class="nav-organizationTreeShow">
                                <a href="/Comany/TreeShow">
                                    <i class="fa fa-anchor"></i>
                                    组织架构视图
                                </a>
                            </li>
                        </ul>
                    </li>
               
                    <li class="nav-laborRelations">
                        <a href="#">
                            <i class="fa fa-unlock-alt"></i>
                            <span>劳动关系管理</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>

                        <ul class="treeview-menu">
                            <li class="nav-contract">
                                <a href="#">
                                    <i class="fa fa-anchor"></i>
                                    合同管理
                                </a>
                            </li>

                            <li class="nav-entry">
                                <a href="#">
                                    <i class="fa fa-list-ol"></i>
                                    入职管理
                                </a>
                            </li>

                            <li class="nav-employee">
                                <a href="/Staff/Index">
                                    <i class="fa fa-list-ol"></i>
                                    员工转正
                                </a>
                            </li>

                            <li class="nav-shiftJobs">
                                <a href="#">
                                    <i class="fa fa-anchor"></i>
                                    员工调岗
                                </a>
                            </li>

                            <li class="nav-resignation">
                                <a href="#">
                                    <i class="fa fa-anchor"></i>
                                    员工离职
                                </a>
                            </li>

                            <li class="nav-rehire">
                                <a href="#">
                                    <i class="fa fa-anchor"></i>
                                    回聘管理
                                </a>
                            </li>

                            <li class="nav-retired">
                                <a href="#">
                                    <i class="fa fa-anchor"></i>
                                    员工退休
                                </a>
                            </li>

                            <li class="nav-rewards_penalty ">
                                <a href="#">
                                    <i class="fa fa-anchor"></i>
                                    奖惩管理
                                </a>
                            </li>

                        </ul>
                    </li>

                    <li class="nav-attendance">
                        <a href="#">
                            <i class="fa fa-unlock-alt"></i>
                            <span>考勤管理</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>

                        <ul class="treeview-menu">
                            <li class="nav-leave">
                                <a href="#">
                                    <i class="fa fa-anchor"></i>
                                    请假管理
                                </a>
                            </li>

                            <li class="nav-extraWork">
                                <a href="/ExtraWorkRecord/Index">
                                    <i class="fa fa-list-ol"></i>
                                    加班管理
                                </a>
                            </li>

                            <li class="nav-business">
                                <a href="#">
                                    <i class="fa fa-anchor"></i>
                                    出差管理
                                </a>
                            </li>

                            <li class="nav-BLeave">
                                <a href="#">
                                    <i class="fa fa-anchor"></i>
                                    公出管理
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-attendance">
                        <a href="#">
                            <i class="fa fa-unlock-alt"></i>
                            <span>人事信息管理</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>

                        <ul class="treeview-menu">
                            <li class="nav-staff">
                                <a href="/Staff/Index">
                                    <i class="fa fa-child"></i>
                                    员工管理
                                </a>
                            </li>

                            <li class="nav-leave">
                                <a href="#">
                                    <i class="fa fa-anchor"></i>
                                    招聘需求
                                </a>
                            </li>

                            <li class="nav-business">
                                <a href="#">
                                    <i class="fa fa-anchor"></i>
                                    简历管理
                                </a>
                            </li>

                            <li class="nav-business">
                                <a href="#">
                                    <i class="fa fa-anchor"></i>
                                    培训管理
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </section>
        </aside>
                            }
        @if (Session["user"] != null)
        {
            <div class="content-wrapper">
                @RenderBody()
            </div>
        }
        else
        {
            <div class="content-wrapper" style="margin:0">
                @RenderBody()
            </div>
        }
    </div>
</body>
@Html.Partial("_HandlingMsgDialog")
</html>
@if (Session["user"] != null && MenuAuthHelper.CanShow("MessageRecord", "Index"))
{
    <script type="text/javascript">
            $(function () {
                $.get("/MessageRecord/UnReadCount", null, function (data) {
                    if (data != null && data > 0) {
                        $('.fa-bell-o').css({ animation: "bell-shake 3s", animationIterationCount: "infinite" })
                        $("#unread-count").text(data>999 ? "..." : data);
                    } else {
                        $("#unread-count").text("");
                    }
                },"json");
            });
    </script>
}

<script type="text/javascript">
    $('.option-icon-primary').click(function(){
        <!--1920* 1200  1068 * 677 刚刚好-->

        <!--pageURL, height, width, top, left, toolbar, menubar, scrollbars, resizable, location, status, alwaysRaised, zLook-->
        Layout.openNewWindow($(this).attr("href"), $(window).width()-200, $(window).height()-100, 100, 200, 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'yes');
    });
</script>