<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title - HR</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/layout")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery-plug-in")
    @Scripts.Render("~/bundles/layout")
    @Scripts.Render("~/bundles/vue")
    @RenderSection("scripts", required: false)
</head>

 @*sidebar-collapse*@

<body class="skin-blue fixed sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="/" class="logo">
                <span class="logo-mini"><b>HR</b></span>
                <span class="logo-lg">德晋<b>HR</b>系统</span>
            </a>
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->

            
@if (Session["user"] != null)
{
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
    </a>
                    <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/MessageRecord" title="消息">
                                <i class="fa fa-bell-o"></i>
                                <span class="label label-primary" id="unread-count"></span>
                            </a>
                        </li> 
                        @Html.Partial("_LoginPartial")
                    </ul>
                </div>
}
              </nav>
        </header>


@if (Session["user"] != null)
{
        <aside class="main-sidebar">
            <section class="sidebar">
                <ul class="sidebar-menu">
                    <li class="nav-basic">
                        <a href="#">
                            <i class="fa fa-inbox"></i>
                            <span>权限管理</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>

                        <ul class="treeview-menu">
                            <li>
                                <a href="/SysRole/Index">
                                    <i class="fa fa-briefcase"></i>
                                    角色列表
                                </a>
                            </li>

                            <li>
                                <a href="/SysAuthorization/Index">
                                    <i class="fa fa-group"></i>
                                    权限列表
                                </a>
                            </li> 
                            <li>
                                <a href="/SysRoleAuthorization/Index">
                                    <i class="fa fa-group"></i>
                                    角色权限列表
                                </a>
                            </li> 
                        </ul>
                    </li>
                    <li class="nav-users">
                        <a href="/User/Index">
                            <i class="fa fa-user-secret"></i>
                            <span>用户管理</span>
                        </a>
                    </li>

                    <li class="nav-basic">
                        <a href="#">
                            <i class="fa fa-inbox"></i>
                            <span>基础信息</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>

                        <ul class="treeview-menu">
                            <li>
                                <a href="/JobTitle/Index">
                                    <i class="fa fa-briefcase"></i>
                                    职位管理
                                </a>
                            </li>

                            <li>
                                <a href="/StaffType/Index">
                                    <i class="fa fa-group"></i>
                                    人员类型
                                </a>
                            </li>

                            <li>
                                <a href="/CertificateType/Index">
                                    <i class="fa fa-newspaper-o"></i>
                                    证照类型
                                </a>
                            </li>

                            <li>
                                <a href="/DegreeType/Index">
                                    <i class="fa fa-graduation-cap"></i>
                                    学历管理
                                </a>
                            </li>

                            <li>
                                <a href="/InSureType/Index">
                                    <i class="fa fa-flash"></i>
                                    保险管理
                                </a>
                            </li>

                            <li>
                                <a href="/ResignType/Index">
                                    <i class="fa fa-sign-out"></i>
                                    离职类型
                                </a>
                            </li>

                            <li>
                                <a href="/AbsenceType/Index">
                                    <i class="fa fa-street-view"></i>
                                    缺勤类型
                                </a>
                            </li>

                            <li>
                                <a href="/ExtraWorkType/">
                                    <i class="fa fa-hourglass-1"></i>
                                    加班类型
                                </a>
                            </li>

                            <li>
                                <a href="/WorkAndRests/">
                                    <i class="fa fa-calendar-minus-o"></i>
                                    作息表
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-company">
                        <a href="/Company/Index">
                            <i class="fa fa-sitemap"></i>
                            <span>公司管理</span>
                        </a>
                    </li>

                    <li class="nav-department">
                        <a href="/Department/Index">
                            <i class="fa fa-cubes"></i>
                            <span>部门管理</span>
                        </a>
                    </li>

                    <li class="nav-staff">
                        <a href="/Staff/Index">
                            <i class="fa fa-users"></i>
                            <span>员工管理</span>
                        </a>
                    </li>

                    @*<li class="nav-certificate">
                        <a href="/Certificate/Index">
                            <i class="fa fa-folder"></i>
                            <span>证照管理</span>
                        </a>
                    </li>*@
                    <li class="treeview nav-shift">
                        <a href="#">
                            <i class="fa fa-calculator"></i>
                            <span>排班管理</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li>
                                <a href="/Shift/Index">
                                    <i class="fa fa-list-ol"></i>
                                    班次管理
                                </a>
                            </li>
                            <li>
                                <a href="/ShiftSchedule/Index">
                                    <i class="fa fa-table"></i>
                                    排班管理
                                </a>
                            </li>
                            
                        </ul>
                    </li>


                    <li class="treeview nav-attendance-record">
                        <a href="#">
                            <i class="fa fa-calendar-check-o"></i>
                            <span>考勤管理</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li>
                                <a href="/AttendanceRecordDetail/Index">
                                    <i class="fa fa-list-ol"></i>
                                    详细记录管理
                                </a>
                            </li>
                            <li>
                                <a href="/AttendanceRecordCal/Index">
                                    <i class="fa fa-table"></i>
                                    统计记录管理
                                </a>
                            </li>
                            <li>
                                <a href="/AttendanceRecordCal/ExceptionList">
                                    <i class="fa fa-exclamation-triangle"></i>
                                    异常统计管理
                                </a>
                            </li>
                        </ul>
                    </li>
               
                    <li class="nav-absencerecrod">
                        <a href="/AbsenceRecrod/Index">
                            <i class="fa fa-adjust"></i>
                            <span>缺勤管理</span>
                        </a>
                    </li>

                    <li class="nav-extrawordrecord">
                        <a href="/ExtraWorkRecord/Index">
                            <i class="fa fa-tachometer"></i>
                            <span>加班管理</span>
                        </a>
                    </li>

                    <li class="nav-taskround">
                        <a href="/TaskRound/Index">
                            <i class="fa fa-tasks"></i>
                            <span>系统任务</span>
                        </a>
                    </li>

                    <li class="treeview nav-system-setting">
                        <a href="#">
                            <i class="fa fa-cogs"></i>
                            <span>系统设置</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li>
                                <a href="/QuartzJob/Index">
                                    <i class="fa fa-rocket"></i>
                                     考勤计算设置
                                </a>
                            </li>

                            <li>
                                <a href="/SystemSetting/Index">
                                    <i class="fa fa-cog"></i>
                                    系统信息设置
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </section>
        </aside>
}
@if (Session["user"] != null)
{
        <div class="content-wrapper">
            @RenderBody()
        </div>
}
else
{
    <div class="content-wrapper" style="margin:0">
        @RenderBody()
    </div>
}
    </div>
</body>
@Html.Partial("_HandlingMsgDialog")
</html>
@if (Session["user"] != null)
{
<script type="text/javascript">
    $(function () {
        $.get("/MessageRecord/UnReadCount", null, function (data) {
            if (data != null && data > 0) {
                $('.fa-bell-o').css({ animation: "bell-shake 3s", animationIterationCount: "infinite" })
                $("#unread-count").text(data>999 ? "..." : data);
            } else {
                $("#unread-count").text("");
            }
        },"json");
    });
</script>
}