<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title - HR</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/layout")
    @Scripts.Render("~/bundles/modernizr") 
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery-plug-in")
    @Scripts.Render("~/bundles/layout")
    @Scripts.Render("~/bundles/vue")
    @RenderSection("scripts", required: false)
     
</head>

<body style="overflow:hidden;">
    <nav class="navbar navbar-inverse main-nav" style="margin-bottom:0;">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">HR</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">用户管理<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">权限管理</a></li>
                        <li><a href="#">@Html.ActionLink("员工管理", "Index", "Staff")</a></li>
                    </ul>
                </li>

                <li>
                    @Html.ActionLink("公司管理", "Index", "Company")
                </li>

                <li>
                    <a href="#">部门管理</a>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">考勤管理<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/AttendanceRecordDetail">详细记录管理</a></li>
                    </ul>
                </li>
            </ul>
               

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        欢迎你， Admin
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">注销</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <div class="body-content content_3">
        @RenderBody()
    </div>

    <script type="text/javascript">
        $('.body-content').css({ height: $(window).height() - 40 + 'px' });
    </script>
</body>
@Html.Partial("_HandlingMsgDialog")
</html>
