@using BlueHrWeb.Helpers.View

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*360默认是极速模式*@
    <meta name="renderer" content="webkit">
    @*IE默认设置为最高版本*@
    <meta name="renderer" content="ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 

    <title>@ViewBag.Title - 德晋HR系统</title>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/layout")
    @Styles.Render("~/Content/bootstrap-treeview")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery-plug-in")
    @Scripts.Render("~/bundles/layout")
    @Scripts.Render("~/bundles/vue")
    @Scripts.Render("~/bundles/bootstrap-treeview")
    
    @RenderSection("scripts", required: false)
</head>

 @*sidebar-collapse*@

<body class="skin-blue fixed sidebar-mini"">
    <div class="wrapper">
        @if (Session["user"] != null) {
            <header class="main-header">
                <!-- Logo -->
                <a href="/" class="logo">
                    <span class="logo-mini"><b>HR</b></span>
                    <span class="logo-lg">德晋<b>HR</b>系统</span>
                </a>
                <nav class="navbar navbar-static-top">

                    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            <li>
                                @if (MenuAuthHelper.CanShow("MessageRecord", "Index"))
                                {
                                    <a href="/MessageRecord/Index" title="消息">
                                        <i class="fa fa-bell-o"></i>
                                        <span class="label label-primary" id="unread-count"></span>
                                    </a>}
                            </li>
                            @Html.Partial("_LoginPartial")
                        </ul>
                    </div>
                </nav>
            </header>
        }
        else
        {
        @Html.Partial("_LoginPartial")
        }

    @if (Session["user"] != null)
    {
        bool canSysRole = MenuAuthHelper.CanShow("SysRole", "Index");
        bool canSysAuthorization = MenuAuthHelper.CanShow("SysAuthorization", "Index");
        bool canSysRoleAuthorization = MenuAuthHelper.CanShow("SysRoleAuthorization", "Index");
        <aside class="main-sidebar">
            <section class="sidebar">
                <ul class="sidebar-menu">

                    <li class="nav-myHome">
                        <a href="/Home/Index">
                            <i class="fa fa-home"></i>
                            <span>我的主页</span>
                        </a>
                    </li>

                    <li class="nav-myThing">
                        <a href="#">
                            <i class="fa fa-user"></i>
                            <span>个人事项</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>

                        <ul class="treeview-menu">
                            <li class="nav-apply">
                                <a href="/Personal/Application">
                                    <i class="fa fa-pencil-square-o"></i>
                                    我的申请
                                </a>
                            </li>
                            <li class="nav-finished">
                                <a href="/Personal/Finished">
                                    <i class="fa fa-pencil-square-o"></i>
                                    我的已办
                                </a>
                            </li>
                            <li class="nav-view">
                                <a href="/Personal/Approval">
                                    <i class="fa fa-calendar-check-o"></i>
                                    我的审批
                                </a>
                            </li>
                            <li class="nav-day">
                                <a href="/Personal/Schedule">
                                    <i class="fa fa-briefcase"></i>
                                    日程安排
                                </a>
                            </li>
                            @*<li class="nav-note">
                                <a href="/Personal/Note">
                                    <i class="fa fa-sticky-note-o"></i>
                                    便笺本
                                </a>
                            </li>*@
                        </ul>
                    </li>
                    <li class="nav-userAuthorization">
                        <a href="#">
                            <i class="fa fa-unlock-alt"></i>
                            <span>权限管理</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>

                        <ul class="treeview-menu">
                            <li class="nav-user">
                                <a href="/User/Index">
                                    <i class="fa fa-user-secret"></i>
                                    用户管理
                                </a>
                            </li>

                            <li class="nav-sysRole">
                                <a href="/SysRole/Index">
                                    <i class="fa fa-gavel"></i>
                                    权限管理
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-basic-info">
                        <a href="#">
                            <i class="fa fa-comment"></i>
                            <span>基础信息管理</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>

                        <ul class="treeview-menu">
                                <li class="nav-staffType">
                                    <a href="/StaffType/Index">
                                        <i class="fa fa-user"></i>
                                        人员类型
                                    </a>
                                </li>
                                <li class="nav-certificateType">
                                    <a href="/CertificateType/Index">
                                        <i class="fa fa-newspaper-o"></i>
                                        证照类型
                                    </a>
                                </li>
                           
                                <li class="nav-degreeType">
                                    <a href="/DegreeType/Index">
                                        <i class="fa fa-graduation-cap"></i>
                                        学历管理
                                    </a>
                                </li>
                            
                                <li class="nav-inSureType">
                                    <a href="/InSureType/Index">
                                        <i class="fa fa-flash"></i>
                                        保险管理
                                    </a>
                                </li>

                                <li class="nav-absenceType">
                                    <a href="/AbsenceType/Index">
                                        <i class="fa fa-times"></i>
                                        缺勤类型
                                    </a>
                                </li>
                            
                                <li class="nav-extraWorkType">
                                    <a href="/ExtraWorkType/Index">
                                        <i class="fa fa-hourglass-1"></i>
                                        加班类型
                                    </a>
                                </li>

                                <li class="nav-resignType">
                                    <a href="/ResignType/Index">
                                        <i class="fa fa-sign-out"></i>
                                        离职类型
                                    </a>
                                </li>
                        </ul>
                    </li>

                    <li class="nav-organization">
                        <a href="#">
                            <i class="fa fa-cubes"></i>
                            <span>组织架构</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>

                        <ul class="treeview-menu">
                            <li class="nav-company-list">
                                <a href="/Company/Index">
                                    <i class="fa fa-list-ol"></i>
                                    组织架构列表
                                </a>
                            </li>
                            <li class="nav-organizationTreeShow">
                                <a href="/Company/TreeShow">
                                    <i class="fa fa-sitemap"></i>
                                    组织架构视图
                                </a>
                            </li>
                        </ul>
                    </li>
               
                    <li class="nav-laborrelations">
                        <a href="#">
                            <i class="fa fa-hourglass-start"></i>
                            <span>劳动关系管理</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>

                        <ul class="treeview-menu">
                            @*<li class="nav-contract">
                                <a href="#">
                                    <i class="fa fa-anchor"></i>
                                    合同管理
                                </a>
                            </li>*@

                            <li class="nav-create">
                                <a href="/Staff/Create">
                                    <i class="fa fa-user-plus"></i>
                                    入职管理
                                </a>
                            </li>

                            
                            <li class="nav-transfer">
                                <a href="#">
                                    <i class="fa fa-retweet"></i>
                                    员工调岗
                                </a>
                            </li>

                            <li class="nav-resignation">
                                <a href="/ResignRecord/Index">
                                    <i class="fa fa-user-times"></i>
                                    员工离职
                                </a>
                            </li>

                            <li class="nav-ontrail">
                                <a href="/Staff/Ontrail">
                                    <i class="fa fa-binoculars"></i>
                                    试用期管理
                                </a>
                            </li>
                            <li class="nav-regular">
                                <a href="/FullMemberRecord/Index">
                                    <i class="fa fa-sign-in"></i>
                                    员工转正
                                </a>
                            </li>

                            @*<li class="nav-rehire">
                                <a href="#">
                                    <i class="fa fa-anchor"></i>
                                    回聘管理
                                </a>
                            </li>*@

                            @*<li class="nav-retired">
                                <a href="#">
                                    <i class="fa fa-anchor"></i>
                                    员工退休
                                </a>
                            </li>*@
                        </ul>
                    </li>

                    <li class="nav-attendance">
                        <a href="#">
                            <i class="fa fa-cogs"></i>
                            <span>考勤管理</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>

                        <ul class="treeview-menu">

                            <li class="nav-shift">
                                <a href="/Shift/Index">
                                    <i class="fa fa-calendar"></i>
                                    班次设置
                                </a>
                            </li>

                            <li class="nav-shiftschedule">
                                <a href="/ShiftSchedule/Index">
                                    <i class="fa fa-search"></i>
                                    排班查询
                                </a>
                            </li>

                            <li class="nav-leave">
                                <a href="/LeaveRecord/Index">
                                    <i class="fa fa-anchor"></i>
                                    请假管理
                                </a>
                            </li>
                            <li class="nav-extraWorkRecord">
                                <a href="/ExtraWorkRecord/Index">
                                    <i class="fa fa-tachometer"></i>
                                    加班管理
                                </a>
                            </li>

                            <li class="nav-attendancerecorddetail">
                                <a href="/AttendanceRecordDetail/Index">
                                    <i class="fa fa-pencil-square-o"></i>
                                    考勤记录
                                </a>
                            </li>

                            <li class="nav-attendancesetting">
                                <a href="/QuartzJob/Index">
                                    <i class="fa fa-cog"></i>
                                    考勤计算设置
                                </a>
                            </li>

                            <li class="nav-attendancerecordcal">
                                <a href="/AttendanceRecordCal/Index">
                                    <i class="fa fa-list"></i>
                                    统计记录
                                </a>
                            </li>

                            <li class="nav-bugstatistic">
                                <a href="/AttendanceRecordCal/ExceptionList">
                                    <i class="fa fa-exclamation-triangle"></i>
                                    异常统计
                                </a>
                            </li>

                            <li class="nav-rest">
                                <a href="/WorkAndRests/Index">
                                    <i class="fa fa-calendar-minus-o"></i>
                                    作息时间
                                </a>
                            </li>

                            @*<li class="nav-business">
                                <a href="#">
                                    <i class="fa fa-anchor"></i>
                                    出差管理
                                </a>
                            </li>

                            <li class="nav-BLeave">
                                <a href="#">
                                    <i class="fa fa-anchor"></i>
                                    公出管理
                                </a>
                            </li>*@
                        </ul>
                    </li>

                    <li class="nav-manage">
                        <a href="#">
                            <i class="fa fa-users"></i>
                            <span>人事信息管理</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>

                        <ul class="treeview-menu">
                            <li class="nav-staff">
                                <a href="/Staff/Index">
                                    <i class="fa fa-user"></i>
                                    员工管理
                                </a>
                            </li>
                            <li class="nav-idcard">
                                <a href="/Staff/Idcard">
                                    <i class="fa fa-credit-card"></i>
                                    身份证管理
                                </a>
                            </li>
                            
                            <li class="nav-recruit">
                                <a href="/Recruit/Index">
                                    <i class="fa fa-sign-in"></i>
                                    招聘需求
                                </a>
                            </li>

                            <li class="nav-rewardspenalty">
                                <a href="/RewardsAndPenalty/Index">
                                    <i class="fa fa-balance-scale"></i>
                                    奖惩管理
                                </a>
                            </li>

                            @*<li class="nav-cv">
                                <a href="#">
                                    <i class="fa fa-table"></i>
                                    简历管理
                                </a>
                            </li>*@

                            @*<li class="nav-train">
                                <a href="#">
                                    <i class="fa fa-anchor"></i>
                                    培训管理
                                </a>
                            </li>*@
                        </ul>
                    </li>
                </ul>
            </section>
        </aside>
                            }
        @if (Session["user"] != null)
        {
            <div class="content-wrapper">
                @RenderBody()
            </div>
        }
        else
        {
            <div class="content-wrapper" style="margin:0">
                @RenderBody()
            </div>
        }
    </div>
</body>
@Html.Partial("_HandlingMsgDialog")
</html>
@if (Session["user"] != null && MenuAuthHelper.CanShow("MessageRecord", "Index"))
{
    <script type="text/javascript">
            $(function () {
                $.get("/MessageRecord/UnReadCount", null, function (data) {
                    if (data != null && data > 0) {
                        $('.fa-bell-o').css({ animation: "bell-shake 3s", animationIterationCount: "infinite" })
                        $("#unread-count").text(data>999 ? "..." : data);
                    } else {
                        $("#unread-count").text("");
                    }
                },"json");
            });
    </script>
}

<script type="text/javascript">
    $('.option-icon-primary').click(function(){
        //1920* 1200  1068 * 677 刚刚好
        //pageURL, height, width, top, left, toolbar, menubar, scrollbars, resizable, location, status, alwaysRaised, zLook
        Layout.openNewWindow($(this).attr("href"), $(window).height()-100,$(window).width()-200, 50, 100, 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'yes');
        return false;

    });
    $('.option-icon-warning').click(function(){
        Layout.openNewWindow($(this).attr("href"), $(window).height()-100,$(window).width()-200, 50, 100, 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'yes');
        return false;

    });
    $('a>button.marco-btn-primary').click(function(){
        Layout.openNewWindow($(this).parent().attr("href"), $(window).height()-100,$(window).width()-200, 50, 100, 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'yes');
        return false;
        
    });
</script>