@model BlueHrLib.Data.Recruit

<div id="recruit" style="margin:20px;">
    <ol class="breadcrumb current-position">
        您的位置：  
        <li>@Html.ActionLink("招聘需求", "Index")</li>
        <li>{{action}}</li>
    </ol>

    <hr class="hr-grey" />

    @using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "Post", OnSuccess = "post_return_action(data)"/*, OnBegin = "return validate_page_info()"*/ }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        if (Model != null)
        {
            @Html.HiddenFor(model => model.id)
        }

        <div class="marco-npanel-primary">
            <div class="marco-nheading">
                {{action}}

                <div class="pull-right">
                    <button type="submit" class="marco-btn-primary" style="margin-top:-10px; padding: 0 10px;">
                        <i class="fa fa-check-circle-o"></i>
                        <span>{{actionBtn}}</span>
                    </button>
                </div>
            </div>

            <div class="marco-nbody row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="marco-igroup-primary">
                        <span>招聘需求</span>
                        @Html.EditorFor(model => model.requirement)
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="marco-igroup-primary">
                        <span>所属公司</span>
                        @Html.EditorFor(model => model.companyId)
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="marco-igroup-primary">
                        <span>所属部门</span>
                        @Html.EditorFor(model => model.departmentId)
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="marco-igroup-primary">
                        <span>需求人数</span>
                        @Html.EditorFor(model => model.amount)
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="marco-igroup-primary">
                        <span>用工日期</span>
                        @Html.EditorFor(model => model.requirementAt, new { htmlAttributes = new { @class = "date-picker" } })
                    </div>
                </div>
                @if (Model != null)
                {
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="marco-igroup-primary">
                            <span>申请日期</span>
                            @Html.EditorFor(model => model.createAt, new { htmlAttributes = new { @class = "date-picker" } })
                        </div>
                    </div>
                    
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="marco-igroup-primary">
                            <span>申请人</span>
                            @Html.EditorFor(model => model.requirementMan)
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="marco-igroup-primary">
                            <span>流程状态</span>
                            @Html.EditorFor(model => model.status)
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="marco-igroup-primary">
                            <span>审核记录</span>
                            <input type="text" name="rewardsandpenaltiesAt" class="date-picker"/>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="marco-igroup-primary">
                            <span>流程查看</span>
                            @Html.EditorFor(model => model.auditView)
                        </div>
                    </div>  
                }           
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    Layout.init();

    //控制textarea高度
    $('textarea').css({ height: ($(window).height() - 400) / 2 + 'px' });
    $(window).resize(function () {
        $('textarea').css({ height: ($(window).height() - 400) / 2 + 'px' });
    });

    //Layout.datepicker('.datetimepicker');
    Layout.datepicker('.date-picker');

    //回调函数
    function post_return_action(data) {

        if (!data.Success) {
            Layout.popMsg('popMsg-danger', data.Content);
            return false;
        }
        else {

            location.href = '/Recruit/Index';
        }
    }
</script>
