@using MvcPaging
@model IPagedList<BlueHrLib.Data.Recruit>
@{
    ViewBag.Title = "招聘管理";
}
@*@Styles.Render("~/Content/degreetype")*@
<ol class="breadcrumb current-position" style="margin-top:10px;">
    您的位置：
    <li>人事信息管理</li>
    <li>
        <strong>招聘需求</strong>
    </li>
</ol>
<hr class="hr-grey" />
<div class="search">
    <form action="/Recruit/Search" method="get">
        <div class="row" style="margin:0;">
            <div class="col-lg-4 col-md-4 col-sm-6 ol-xs-12">
                <div class="marco-igroup-primary">
                    <span>招聘需求</span>
                    <input type="text" name="Recruitment" id="Recruitment" placeholder="招聘需求" value="@ViewBag.Query.requirement" />
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 ol-xs-12">
                <div class="marco-igroup-primary">
                    <span>招聘公司</span>
                    <input type="text" name="companyId" id="companyId" placeholder="招聘公司" value="@ViewBag.Query.companyId" />
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 ol-xs-12">
                <div class="marco-igroup-primary">
                    <span>招聘部门</span>
                    <input type="text" name="Department" id="Department" placeholder="招聘部门" value="@ViewBag.Query.departmentId" />
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 ol-xs-12">
                <div class="marco-igroup-primary">
                    <span>需求人数</span>
                    <input type="text" name="RecruitNum" id="RecruitNum" placeholder="需求人数" value="@ViewBag.Query.amount" />
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="margin-top: 5px;">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                    <button type="submit" class="marco-btn-success pull-left">
                        <i class="fa fa-search"></i>
                        <span>搜索</span>
                    </button>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                    <button type="button" class="marco-btn-primary advanced-filter-btn" title="自定义搜索">
                        <i class="fa fa-filter"></i>
                        <span>自定义搜索</span>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
<div id="search_content" class="import_content" style="display:none;">
    <form action="/Recruit/AdvancedSearch" method="post">
        <div class="dialogModal_header" style="background:steelblue; color:white;">
            自定义搜索信息
        </div>
        <div class="advanced-filter row" style="margin:8px;">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="marco-igroup-primary">
                    <span>字段</span>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="marco-igroup-primary">
                    <span>条件</span>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="marco-igroup-primary">
                    <span>值</span>
                </div>
            </div>
            <div style="width:80px;height:40px;line-height:40px;background:steelblue; color:white;margin-left:540px;text-align:center;position:absolute;bottom:5px;">
                <span>添加</span>
                
            </div>
        </div>
    </form>
</div>

<hr class="hr-primary" />

<div style="margin:10px;">
    <div class="minitor-show marco-tabs-default">

        <a href="/Recruit/Create" class="pull-right" style="margin-top: -10px;">
            <button class="marco-btn-primary">
                <i class="glyphicon glyphicon-plus-sign"></i>
                <span>创建</span>
            </button>
        </a>
        <ul class="nav nav-tabs" role="tablist" style="width: 400px;">

            <li role="presentation" class="active"><a href="#all_Recruitment" role="tab" data-toggle="tab">所有需求</a></li>
            

        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane  active" id="all_Recruitment">
                <div id="all_Recruitment_grid_table" style="margin:auto;"></div>
                <table class="table table-bordered" style="display:none;">
                    <thead>
                        <tr>
                            <th>招聘需求</th>
                            <th>所属公司</th>
                            <th>所属部门</th>
                            <th>需求人数</th>
                            <th>申请日期</th>
                            <th>用工日期</th>
                            <th>申请人</th>
                            <th>流程状态</th>
                            <th>审核记录</th>
                            <th>流程查看</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.requirement)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.companyId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.departmentId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.amount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.createAt)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.requirementAt)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.requirementMan)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.status)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.auditRecord)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.auditView)
                                    </td>
                                    <td>
                                        <a href="/Recruit/Delete/@item.id" class="option-icon-primary" title="详情">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                        <a href="/Recruit/Edit/@item.id" class="option-icon-warning" title="编辑">
                                            <i class="fa fa-pencil"></i>
                                        </a>

                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            
            
            
        </div>
    </div>
</div>

 

<script type="text/javascript">
    Layout.init();

    $(window).resize(function () {
        Layout.TransferTableToGrid($(window).width() - 300, $(window).height() - 250, false, "all_Recruitment", "所有需求列表", "20", "all_Recruitment_grid_table");
        
    })

    Layout.TransferTableToGrid($(window).width() - 300, $(window).height() - 250, false, "all_Recruitment", "所有需求列表", "20", "all_Recruitment_grid_table");

   $('.advanced-filter-btn').click(function () {

        $('#search_content').dialogModal({
            onOkBut: function () {
            },
            onCancelBut: function () { 

            },
            onLoad: function () {

            },
            onClose: function () {

            }
            
        });
    });
    // Layout.advancedfilter();
 
</script>