@using MvcPaging
@using BlueHrWeb.Helpers.View

@model IPagedList<BlueHrLib.Data.ShiftJobRecord>
@{
    ViewBag.Title = "员工调岗";
}

<ol class="breadcrumb current-position" style="margin-top:10px;">
    您的位置：
    <li>劳动关系管理</li>
    <li>
        <strong>员工调岗</strong>
    </li>
</ol>
<hr class="hr-grey" />

<div class="search">
    <form action="/ShiftJobRecord/Search" method="get">
        <div class="row" style="margin:0;">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="marco-igroup-primary">
                    <span>工号</span>
                    <input type="text" name="Nr" id="Nr" placeholder="工号" value="@ViewBag.Query.staffNr" />
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6" style="margin-top:5px;">
                <button type="submit" class="marco-btn-success">
                    <i class="glyphicon glyphicon-search"></i>
                    搜索
                </button>
            </div>
        </div>
    </form>
</div>
<hr class="hr-primary" />
<div style="margin:10px;">
    <div class="minitor-show marco-tabs-default">
        <a href="/ShiftJobRecord/Create" class="pull-right" style="margin-top: -10px;">
            <button type="button" class="marco-btn-primary">
                <i class="glyphicon glyphicon-plus-sign"></i>
                <span>创建</span>
            </button>
        </a>

        <ul class="nav nav-tabs" role="tablist" style="width: 400px;">
            <li role="presentation" class="active"><a href="#ShiftJobRecord" role="tab" data-toggle="tab">调岗申请</a></li>
        </ul>

        <div class="tab-content">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="ShiftJobRecord">
                <div id="ShiftJobRecord_grid_table"></div>
                <table class="table table-bordered" style="display:none;">
                    <thead>
                        <tr>
                            <th>工号</th>
                            <th>公司</th>
                            <th>部门</th>
                            <th>职位</th>
                            <th>申请人</th>                          
                            <th>申请日期</th>
                            <th>申请备注</th>
                            <th>审批人</th>
                            <th>审批日期</th>
                            <th>审批状态</th>
                            <th>备注</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {

                                <tr>
                                    <td>
                                        <a href="/Staff/Delete/@item.staffNr" class="option-icon-primary">
                                            @Html.DisplayFor(modelItem => item.staffNr)
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    </td>
                                    <td>                                       
                                        @Html.DisplayFor(modelItem => item.beforeCompanyId)
                                       <i class="fa fa-long-arrow-right"></i>
                                        @Html.DisplayFor(modelItem => item.afterCompanyId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.beforeDepartmentId)
                                        <i class="fa fa-long-arrow-right"></i>
                                        @Html.DisplayFor(modelItem => item.afterDepartmentId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.beforeJobId)
                                        <i class="fa fa-long-arrow-right"></i>
                                        @Html.DisplayFor(modelItem => item.afterJobId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.userId)
                                    </td>
                                    <td>
                                        <!--值不可为空-->
                                        <span>@item.createdAt.ToString("yyyy-MM-dd")</span>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.remark)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.approvalUserId)
                                    </td>
                                    <td>
                                        <!--值可为空-->
                                        @(@item.approvalAt.HasValue ? @item.approvalAt.Value.ToString("yyyy-MM-dd") : "")
                                    </td>
                                        @if(item.approvalStatus == null){
                                            <td>未审批</td>
                                        }else{
                                        <td>
                                            @Html.DisplayFor(modelItem => item.approvalStatus)
                                        </td>
                                        }
                                    <td>
                                        @Html.DisplayFor(modelItem => item.approvalRemark)
                                    </td>
                                    <td>

                                        @if(item.approvalStatus==null){
                                        
                                            <a href="/ShiftJobRecord/Delete/@item.id" class="option-icon-primary" title="详情">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                       
                                            <a href="/ShiftJobRecord/Edit/@item.id" class="option-icon-warning" title="编辑">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                       
                                            <a title="审批"class="option-icon-danger" onclick="shShiftJobRecord(@item.id)">
                                                <i class="fa fa-check"></i>
                                            </a>
                                        
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
    

    <div id="approval_content" class="approval_content" style="display:none;">
        <div class="dialogModal_header" style="background:steelblue;color:white;">
            调岗审批
        </div>

        <div class="dialogModal_content">
            <div class="marco-nbody row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="marco-igroup-primary">
                        <span>审批状态</span>
                        <select id="aplStatus" name="aplStatus">                            
                            <option value="通过审批">审批通过</option>
                            <option value="未通过审批">审批未通过</option>
                        </select>
                    </div>
                </div>
                <br/>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="marco-textarea">
                        <span>审批备注</span>
                        <textarea id="apvRemarks" name="apvRemarks"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="dialogModal_footer row" style="margin: 0;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <button class="marco-btn-primary pull-right" title="确定" data-dialogmodalbut="ok" type="button" >
                    确定
                </button>
            </div>
        </div>

    </div>

    <script type="text/javascript">
        Layout.init();
        $(window).resize(function () {
            Layout.TransferTableToGrid($(window).width() - 300, $(window).height() - 250, false, "ShiftJobRecord", "调岗申请列表", "20", "ShiftJobRecord_grid_table");
        })

        Layout.TransferTableToGrid($(window).width() - 300, $(window).height() - 260, false, "ShiftJobRecord", "调岗申请列表", "20", "ShiftJobRecord_grid_table");

        $('.datetimepicker').datetimepicker({
            format: 'Y-m-d',
            timepicker: false
        });

        $('.import-button-dialog').click(function () {
            $('#dialog_content').dialogModal({
                onOkBut: function () {
                },
                onCancelBut: function () { },
                onLoad: function () {
                    data_upload(".item-data-uploader");
                },
                onClose: function () {
                    window.location.reload();
                }
            });
        });

        //审核
        function shShiftJobRecord(id) {
            $('#approval_content').dialogModal({
                onOkBut: function () {
                    var approvalStatus = $(".dialogModal").find("#aplStatus").val();
                    var approvalRemarks = $(".dialogModal").find("#apvRemarks").val();

                    if (approvalStatus == null || approvalStatus == "") {
                        Layout.popMsg('popMsg-danger', "请选择审批状态！");
                        return;
                    }
                    else {
                        $.post("/ShiftJobRecord/Approval", { id: id, approvalStatus: approvalStatus, approvalRemark: approvalRemarks }, function (data) {

                            if (!data.Success) {
                                $('#approval_content').dialogModal("hide");
                                Layout.popMsg('popMsg-danger', data.Content);
                                return false;
                            }
                            else {
                                $('#approval_content').dialogModal("hide");
                                Layout.popMsg('popMsg-danger', data.Content);
                                window.location.reload();
                            }
                        });
                    }
                },
                onCancelBut: function () { 
                
                },
                onLoad: function () {

                },
                onClose: function () {
                    //window.location.reload();
                }
            });
        }

        //批量审核
        function shBatchAbsenceRecord() {
            var items = get_items();
            if (items.length == 0) {
                alert("请选择需要审批项");
                return;
            }
            $("#thePkId").val(items);

            $('#approval_content').dialogModal({
                onOkBut: function () {
                },
                onCancelBut: function () { },
                onLoad: function () {

                },
                onClose: function () {
                    //window.location.reload();
                }
            });
        }
        
        function get_items() {
            var items = [];
            $.each($('.record-approve:checked'), function (i, item) {
                // console.log($(item).attr('id'));
                items.push($(item).attr('id'));
            });
            return items;
        }

    </script>
